//- choosing the right partner section 
#choose-a-partner
	section.choose-partner
		.content
			h1.Blu-text#choose-the-right-health-plan Choosing the right plan 
			h2.Blu-text.SectionIntroText When you choose a health plan, you choose more than a deductible and co-pay.
			.row.subCont
				.col-lg-9.col-md-9.col-sm-12.col-xs-12
					P.Blu-text A good plan provides you:
					ul(style="padding-left:0px;")
						li.Blu-text Access to doctors
						li.Blu-text Coverage for the prescriptions under your plan
						li.Blu-text Tools to help manage your costs
						li.Blu-text Services that may help you stay in your best health
						div(id="sectionTest")
					
					p.Blu-text Find out about these features as you learn about our plans.
							
				.col-lg-3.col-md-3.col-sm-12.sideBox
					p.white If you have any questions, we’d love to talk with you. Call us at <br>   <a href="tel:+18775129939"><b><span class="white">877-512-9939</span></b></a><br>(8 a.m.–8 p.m. EST, M-F)
