#FatFooter
    .iconrow
        .container-fluid
            .row
                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                    .iconGroup
                        a(href="#section2")
                            img.icon(src="images/footer_plans@1x.png")
                        .title Our <br> plans
                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                    .iconGroup
                        a(href="#section4")
                            img.icon(src="images/footer_network@1x.png")
                        .title Doctors <br> &amp; hospitals
                .col-lg-3.col-md-3.col-sm-3.col-xs-3
                    .iconGroup
                        a(href="#section5")
                            img.icon(src="images/footer_prescription@1x.png")
                        .title Prescription <br> coverage
    .plan-listing
        #FooterPlanSBCList.container-fluid
            .row
                .col-lg-3.col-md-3.col-sm-3.col-xs-12
                  .plantitle Platinum plans 
                  br           
                  .gray.small.bold Standard Plan:
                             
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-platinum-compass-250.pdf' target="_blank") UnitedHealthcare Platinum Compass Plus 250
                               
                  .gray.small      Variations on Standard Plan:
                                  
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-platinum-compass-0.pdf' target="_blank")  &nbsp; &nbsp;       UnitedHealthcare Platinum Compass Plus 0*
                  br                        
                  .plantitle Gold plans
                  br
                                           
                  .gray.small.bold Standard Plan:
                                           
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-gold-compass-1250.pdf' target="_blank") UnitedHealthcare Gold Compass Plus 1250
                               
                  .gray.small Variations on Standard Plan: 
                           
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-gold-compass-0.pdf' target="_blank")  &nbsp; &nbsp  UnitedHealthcare Gold Compass Plus 0*
                           
                  .gray.small.bold Standard Plan:
                           
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-gold-compass-500.pdf' target="_blank") UnitedHealthcare Gold Compass Plus 500
                               
                  .gray.small Variations on Standard Plan: 
                           
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-gold-compass-0.pdf' target="_blank")    &nbsp; &nbsp    UnitedHealthcare Gold Compass Plus 0*
                                             
                  br  
                .col-lg-3.col-md-3.col-sm-3.col-xs-12
                  .plantitle Silver plans
                  br
                           
                  .gray.small.bold Standard Plan:
                           
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-silver-compass-HSA-2600.pdf' target="_blank") UnitedHealthcare Silver Compass Plus HSA 2600
                           
                  .gray.small      Variations on Standard Plan: 
                           
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-HSA-1900.pdf' target="_blank")    &nbsp; &nbsp;  UnitedHealthcare Silver Compass Plus HSA 1900
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-HSA-550.pdf' target="_blank")   &nbsp; &nbsp;   UnitedHealthcare Silver Compass Plus HSA 550 
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-HSA-75.pdf' target="_blank")   &nbsp; &nbsp;   UnitedHealthcare Silver Compass Plus HSA 75
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-0.pdf' target="_blank")    &nbsp;  &nbsp;  UnitedHealthcare Silver Compass Plus 0*
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-3500-1.pdf' target="_blank")  &nbsp; &nbsp;    UnitedHealthcare Silver Compass Plus 3500

                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-HSA-2600-1.pdf' target="_blank")  &nbsp; &nbsp;    UnitedHealthcare Silver Compass Plus HSA 2600

                  .gray.small.bold Standard Plan:

                  a.planlink.bold(href='./files/sbc/unitedHealthcare-silver-compass-HSA-1600' target="_blank") UnitedHealthcare Silver Compass Plus HSA 1600
                            
                  .gray.small      Variations on Standard Plan: 
                            
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-HSA-1100.pdf' target="_blank")   &nbsp; &nbsp; UnitedHealthcare Silver Compass Plus HSA 1100
                               
                  //- a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-550.pdf' target="_blank")   &nbsp; &nbsp;    UnitedHealthcare Silver Compass Plus 550
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-150-1.pdf' target="_blank")   &nbsp; &nbsp;     UnitedHealthcare Silver Compass Plus HSA 150-1
                               
                  //- a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-HSA-150-1.pdf' target="_blank")    &nbsp; &nbsp UnitedHealthcare Silver Compass Plus 0*
                               
                  a.planlink.xs-small(href='http://nxmi.welcometouhc.com/files/sbc/unitedHealthcare-silver-compass-150-1.pdf' target="_blank")  &nbsp; &nbsp;   UnitedHealthcare Silver Compass Plus HSA 150-2

                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-HSA-0.pdf' target="_blank")  &nbsp; &nbsp;     UnitedHealthcare Silver Compass Plus HSA 0*  
                            
                  .gray.small.bold Standard Plan:
                            
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-silver-compass-2000.pdf' target="_blank") UnitedHealthcare Silver UnitedHealthcare Silver Compass Plus 2000 
                               
                  .gray.small      Variations on Standard Plan: 
                            
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-1200.pdf' target="_blank")  &nbsp; &nbsp;     UnitedHealthcare Silver Compass Plus 1200
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-250-1.pdf' target="_blank")   &nbsp; &nbsp;   UnitedHealthcare Silver Compass Plus 250-1
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-100-1.pdf' target="_blank")  &nbsp; &nbsp;    UnitedHealthcare Silver Compass Plus 100-1
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-0.pdf' target="_blank")   &nbsp; &nbsp;  UnitedHealthcare Silver Compass Plus 0*

                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-2000-1.pdf' target="_blank")   &nbsp; &nbsp;  UnitedHealthcare Silver Compass Plus 2000
                        
                               
                  .gray.small.bold Standard Plan:
                            
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-silver-compass-3500.pdf' target="_blank") UnitedHealthcare Silver UnitedHealthcare Silver Compass Plus 3500
                            
                  .gray.small      Variations on Standard Plan: 
                             
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-2500.pdf' target="_blank")    &nbsp; &nbsp;    UnitedHealthcare Silver Compass Plus 2500
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-250-2' target="_blank")   &nbsp; &nbsp;      UnitedHealthcare Silver Compass Plus 250-2 
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-100-2.pdf' target="_blank")  &nbsp; &nbsp;    UnitedHealthcare Silver Compass Plus 100-2
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-0.pdf' target="_blank")  &nbsp; &nbsp   UnitedHealthcare Silver Compass Plus 0*
                               
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-silver-compass-3500-1.pdf' target="_blank")    &nbsp; &nbsp;  UnitedHealthcare Silver Compass Plus 3500        

                  br


                .col-lg-3.col-md-3.col-sm-3.col-xs-12
                  .plantitle Bronze plans 
                  br     
                  .gray.small.bold Standard Plan:
                            
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-bronze-compass-HSA-4900.pdf' target="_blank") UnitedHealthcare Bronze Compass Plus HSA 4900
                            
                  .gray.small      Variations on Standard Plan: 
                            
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-bronze-compass-HSA-0.pdf' target="_blank")    &nbsp; &nbsp;  UnitedHealthcare Bronze Compass HSA 0*
                              
                  
                  .gray.small.bold Standard Plan:
                            
                  a.planlink.bold(href='./files/sbc/unitedHealthcare-bronze-compass-5500.pdf' target="_blank") UnitedHealthcare Bronze Compass Plus 5500
                               
                  .gray.small      Variations on Standard Plan: 
                            
                  a.planlink.xs-small(href='./files/sbc/unitedHealthcare-bronze-compass-0.pdf' target="_blank")  &nbsp; &nbsp; UnitedHealthcare Bronze Compass Plus 0*   
                              
                  br       
                  .plantitle Catastrophic plans
                  br
                             
                  a.planlink.bold(href='http://nxla.welcometouhc.com/files/sbc/unitedHealthcare-catastrophic-compass-6600.pdf' target="_blank") UnitedHealthcare Catastrophic Compass Plus 6600
                  div 
                    br

                  p.bold.Blu-text * = American Indian - Zero Cost Share plan
                  p.bold.Blu-text ** = American Indian - Limited Cost Share plan
                  p.bold.Blu-text (CSR) = Cost Share Reduction

                  .disclaimer Plans with an asterisk are available to most consumers. Other products may only be available for individuals or families based on income levels or are designed for specific groups, such as American Indians and Alaska Native Americans.
  
                .col-lg-3.col-md-3.col-sm-3.col-xs-12.left-border
                  .plantitle Questions about a plan, or need help enrolling?
                     
                  .dashedbox
                    p(style='text-align: center; font-size:18px;')
                      | Call us at 
                  
                      a.Blu-text(href='tel:+18775129939') &nbsp; 877-512-9939 <br> TTY user dial 711
                      p.xs-small(style='text-align: center') (8 a.m to 8 p.m EST, M-F)
                  .disclaimer(style='text-align: center')
                    | Para servicio al cliente en espa&ntilde;ol, llame al 
                    span#gc-number-0.gc-cs-link(title='Call with Google Voice') 877-512-9939 <br> (8 a.m to 8 p.m EST, Lun-Vie)
                  |             
                  br
                  |             
                  p.Blu-text If you are experiencing a medical emergency, call 911.

                  //-  .plantitle Membership benefits 
                  //- <br>    
                  //- .planlink.videoModalLink(data-toggle='modal', data-target='#WellnessVideo') Health and Wellness video tour
                  
                  //- .planlink.videoModalLink(data-toggle='modal', data-target='#Health4MeVideo') Health4Me mobile app video
                            
                  //- .planlink.videoModalLink(data-toggle='modal', data-target='#CostEstimatorVideo') myHealthcare Cost Estimator video
          
                  //- .planlink.videoModalLink(data-toggle='modal', data-target='#MyClaimsVideo') myClaims Manager video
                  //- br
                  .plantitle Healthy living resources
                  br
                  a.planlink(href='http://www.uhc.tv', target='_blank') UHC.TV
                  a.planlink(href='http://www.uhc.com./storytellers', target='_blank') Storytellers
                  a.planlink(href='http://www.uhc.com/source4women.htm', target='_blank') Source4Women&reg;
                  br     

#WellnessVideo.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                h4.modal-title Health and Wellness video tour
            .modal-body
                 video(preload='metadata', controls='controls' class="")
                     source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/ToolToSucceed/ToolsToSucceed.mp4", type="video/mp4")
                     source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/ToolToSucceed/ToolsToSucceed.webm', type='video/webm')
                     source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/ToolToSucceed/ToolsToSucceed.ogv', type='video/ogg')

#Health4MeVideo.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                h4.modal-title Health4Me mobile app video
            .modal-body
                 video(preload='metadata', controls='controls' class="")
                    source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/Health4Me/health4Me.mp4", type="video/mp4")
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/Health4Me/health4Me.webm', type='video/webm')
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/Health4Me/health4Me.ogv', type='video/ogg')

#CostEstimatorVideo.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                h4.modal-title myHealthcare Cost Estimator video
            .modal-body
                 video(preload='metadata', controls='controls' class="")
                    source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/CostEstimator/Cost-Estimator.mp4", type="video/mp4")
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/CostEstimator/Cost-Estimator.webm', type='video/webm')
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/CostEstimator/Cost-Estimator.ogv', type='video/ogg')

#MyClaimsVideo.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                .close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                h4.modal-title myClaims Manager video
            .modal-body
                 video(preload='metadata', controls='controls' class="")
                    source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/MyClaims/myclaims.mp4", type="video/mp4")
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/MyClaims/myclaims.webm', type='video/webm')
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/MyClaims/myclaims.ogv', type='video/ogg')

                


//-     .iconrow.hidden-xs
//-         .container-fluid
//-             .row
//-                 .col-lg-3.col-md-3.col-sm-3
//-                     .iconGroup
//-                         a(href="#sectionTest")
//-                             img.icon(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/images/footer_plans@1x.png")
//-                         .title Our <br> plans
//-                 .col-lg-3.col-md-3.col-sm-3
//-                     .iconGroup
//-                         a(href="#section4")
//-                             img.icon(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/images/footer_network@1x.png")
//-                         .title Doctors <br> &amp; hospitals
//-                 .col-lg-3.col-md-3.col-sm-3
//-                     .iconGroup
//-                         a(href="#section5")
//-                             img.icon(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/images/footer_prescription@1x.png")
//-                         .title Prescription <br> coverage
//-                 .col-lg-3.col-md-3.col-sm-3
//-                     .iconGroup
//-                         a(href="#section6")
//-                             img.icon(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/images/clipboard-footer.png")
//-                         .title Getting <br> started
//-     .plan-listing
//-         #FooterPlanSBCList.container-fluid
            
//-         script(id="plantypelistFooter" type="text/x-handlebars") 
//-             .row
//-                 .col-lg-4.col-md-4.col-sm-4.col-xs-4
//-                     .plantitle Platinum plans
//-                     .disclaimer (PDFs of Summary of Benefits and Coverage)
//-                     .spacer
//-                     {{#each AZPlans}}
//-                     {{#if_eq MetallicLevel "Platinum"}}
//-                     a.planlink(href="/files/sbc{{SBCURL}}" target="_blank") {{PlanName}} (PDF) <i class="fa fa-download"></i>
//-                     {{/if_eq}}
//-                     {{/each}}
                      
//-                     .spacer
//-                     .plantitle Gold plans
//-                     .disclaimer (PDFs of Summary of Benefits and Coverage)
//-                     .spacer
//-                     {{#each AZPlans}}
//-                     {{#if_eq MetallicLevel "Gold"}}
//-                     a.planlink(href="/files/sbc{{SBCURL}}" target="_blank") {{PlanName}} (PDF) <i class="fa fa-download"></i>
//-                     br 
//-                     {{/if_eq}}
//-                     {{/each}}
//-                     .spacer
//-                 .col-lg-4.col-md-4.col-sm-4.col-xs-4
//-                     .plantitle Silver plans
//-                     .disclaimer (PDFs of Summary of Benefits and Coverage)
//-                     .spacer
//-                     {{#each AZPlans}}
//-                     {{#if_eq MetallicLevel "Silver"}}
//-                     a.planlink(href="/files/sbc{{SBCURL}}" target="_blank") {{PlanName}} (PDF) <i class="fa fa-download"></i>
//-                     br 
//-                     {{/if_eq}}
//-                     {{/each}}
//-                     .spacer
//-                     .spacer
//-                 .col-lg-4.col-md-4.col-sm-4.col-xs-4
//-                     .plantitle Bronze plans
//-                     .disclaimer (PDFs of Summary of Benefits and Coverage)
//-                     .spacer
//-                     {{#each AZPlans}}
//-                     {{#if_eq MetallicLevel "Bronze"}}
//-                     a.planlink(href="/files/sbc{{SBCURL}}" target="_blank") {{PlanName}} (PDF) <i class="fa fa-download"></i>
//-                     br 
//-                     {{/if_eq}}
//-                     {{/each}}
//-                     .spacer
//-                     .spacer
//-                     .plantitle Catastrophic plans
//-                     .disclaimer (PDFs of Summary of Benefits and Coverage)
//-                     .spacer
//-                     {{#each AZPlans}}
//-                     {{#if_eq MetallicLevel "Catastrophic"}}
//-                     a.planlink(href="/files/sbc{{SBCURL}}" target="_blank") {{PlanName}} (PDF) <i class="fa fa-download"></i>
//-                     br 
//-                     {{/if_eq}}
//-                     {{/each}}
//-                     .spacer
//-                 // .col-lg-3.col-md-3.col-sm-3
//-                 //     .plantitle Membership benefits
//-                 //     .spacer
//-                 //     a(href="httpL//www.welcometomyuhc.com/demo2013" target="_blank").planlink 
//-                 //         | myuhc.com Demo
//-                 //     a(href="").planlink 
//-                 //         | Health4Me Mobile App Video
//-                 //     a(href="").planlink 
//-                 //         | myHealthcare Cost Estimator Video
//-                 //     a(href="").planlink 
//-                 //         | myClaims Manager Video
//-                 //     .spacer
//-                 //     .spacer
//-                 //     .spacer
//-                 //     .plantitle Healthy living resources
//-                 //     .spacer
//-                 //     a(href="http://www.uhc.tv" target="_blank").planlink UHC.TV
//-                 //     a(href="http://www.uhc.com./storytellers" target="_blank").planlink Storytellers
//-                 //     a(href="http://www.uhc.com/source4women.htm" target="_blank").planlink Source4Woman&reg;
//-     .outreach
//-         .container-fluid 
//-             .row
//-                 .col-lg-9.col-md-9
//-                     .outreach-text
//-                         | Questions about a plan, or need help enrolling? Call us 24/7 at <a href="tel:+18775129939">877-512-9939</a> <br> If you are experiencing a medical emergency, call 911.     
//-                     .disclaimer Attention: This website is operated by UnitedHealthcare and is not the Health Insurance Marketplace website.
//-                 .col-lg-3.col-md-3
//-                     .disclaimer Para servicio al cliente en espa&ntilde;ol, llame al <a href="tel:+18775129939">877-512-9939</a> .
 

                    
//-                 