footer
    .container
        img.img-rrefooter-logo.hidden-xs
        .linkrow
            .dropsprite.dropsprite-down
            //- a(href="http://www.uhc.com" target="_blank" alt="http://www.uhc.com") UHC.com  
            //- p |  
            //- a(href="http://www.myuhc.com" target="_blank" alt="http://www.uhc.com") myUHC.com
            //- p |
            //- a(href="http://www.uhone.com" target="_blank" alt="http://www.uhc.com") UHone.com
            p |
            a(href="http://www.uhc.com/legal" target="_blank" alt="http://www.uhc.com/legal") Privacy/Legal
            p |
            .disclaimer &copy; <script type="text/javascript">document.write(new Date().getFullYear());</script> United HealthCare Services, Inc.

    
    include ./FatFooter.jade
    +footerDisclaimer   