#medicasearch_roadblock_546e19e65b9e4.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-sm
        .modal-content
          form#form546e19e65b9e41(name='form546e19e65b9e41', target='_blank', action='http://def.welcometouhc.com/ajax/finder/search?delsys=46')
          .modal-body
            p You are now leaving this site to search for your doctor, facility or clinic.
            button.btn.btn-secondary.closemodal.pull-left No thanks
            button.btn.btn-primary.pull-right(onclick='document.form546e19e65b9e41.submit();$(\'.modal\').modal(\'hide\');') Okay
            .clearfix
    #hpseaerch_roadblock_546e19e65b9e4.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog.modal-sm
        .modal-content
          form#form546e19e65b9e42(name='form546e19e65b9e42', target='_blank', action='http://def.welcometouhc.com/ajax/finder/search?delsys=46')
          .modal-body
            p You are now leaving this site to search for your doctor, facility or clinic.
            button.btn.btn-secondary.closemodal.pull-left No thanks
            button.btn.btn-primary.pull-right(onclick='document.form546e19e65b9e42.submit();$(\'.modal\').modal(\'hide\');') Okay
            .clearfix
    #hpjvsearch_roadblock_546e19e65b9e4.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog.modal-sm
        .modal-content
          form#form546e19e65b9e43(name='form546e19e65b9e43', target='_blank', action='http://def.welcometouhc.com/ajax/finder/search?delsys=46')
          .modal-body
            p You are now leaving this site to search for your doctor, facility or clinic.
            button.btn.btn-secondary.closemodal.pull-left No thanks
            button.btn.btn-primary.pull-right(onclick='document.form546e19e65b9e43.submit();$(\'.modal\').modal(\'hide\');') Okay
            .clearfix
