// - product-details-table

#ProductDetailsFilterBar.row.hidden-xs
	.FilterTitle.col-lg-2.col-md-3.col-sm-2
		.FilterTitle-text Show:
	.FilterSection.col-lg-3.col-md-3.col-sm-2
		.Ind-and-Fam
			input(id="FamRadio" type='radio' name='Fam-Or-Ind' value='0' checked).radio-inline
			.labelcopy Family &amp; Individual
	.FilterSection.col-lg-3.col-md-3.col-sm-2
		.Ind-Only
			input(id="IndRadio" type='radio' name='Ind-Only' value='1').radio-inline
			.labelcopy Individual only
	.Filter3.col-lg-3.col-md-3.col-sm-12
		.deduct-sort
			//-a(href="#").deduct-content.Blu-text <span class="fa fa-print"></span> Print plan details

#ProductDetailsTable
	.deductableRow.row.SolidBottom.SolidTop
			.DedTitleCell.col-md-2.col-sm-3.col-xs-12
				.Title Overall deductible
				.Sub (per year)
			.col-md-9.col-sm-9.col-xs-12
				.row.DottedLeft.DottedBottom
					.type-cell.col-md-2.SolidRight.minheight.col-sm-3.col-xs-2
						p.Sub In Network 
					.icon-cell.col-md-1.DottedRight.minheight.fam-cell-icon.col-sm-2.col-xs-2
						.fam-icon
					.value-cell.col-md-4.DottedRight.minheight.fam-cell-content.col-sm-2.col-xs-3
						p.number {{DedInFam}}
							//- .NumSub {{DedInFamNote}}
					.icon-cell.col-md-1.DottedRight.minheight.ind-cell-icon.col-sm-2.col-xs-2
						.ind-icon
					.value-cell.col-md-4.SolidRight.minheight.ind-cell-content.col-xs-3
						p.number {{DedInInd}}
				.row.DottedLeft.DottedBottom
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub Out of Network
					.icon-cell.col-md-1.DottedRight.minheight.fam-cell-icon.col-sm-2.col-xs-2
						.fam-icon
					.value-cell.col-md-4.DottedRight.minheight.fam-cell-content.col-sm-3.col-xs-3
						p.number {{DedOutFam}}
							//- .NumSub {{DedOutFamNote}}
					.icon-cell.col-md-1.DottedRight.minheight.ind-cell-icon.col-sm-2.col-xs-2
						.ind-icon
					.value-cell.col-md-4.SolidRight.minheight.ind-cell-content.col-xs-3
						p.number {{DedOutInd}}
				.row.DottedLeft
					.type-cell.col-md-2.SolidRight.minheight.col-sm-3.col-xs-2
						p.Sub Presc<i class="visible-xs" style="height: 0px;"> <br> </i>ription
					.icon-cell.col-md-1.DottedRight.minheight.fam-cell-icon.col-sm-2.col-xs-2
						.fam-icon
					.value-cell.col-md-4.DottedRight.minheight.fam-cell-content.col-sm-2.col-xs-3
						p.number {{OOPOutInd}}
							.NumSub 
					.icon-cell.col-md-1.DottedRight.minheight.ind-cell-icon.col-sm-2.col-xs-2
						.ind-icon
					.value-cell.col-md-4.SolidRight.minheight.ind-cell-content.col-xs-3
						p.number {{OOPOutFam}}
			.why-cell.col-md-1
				.whygroup(id="dedwhy" data-toggle="modal" data-target="#DeductableModal")
					.whyitmatters-icon(style="margin-left: 10px;")
					.Sub.text-center Why it <br> matters
		.OOPRow.row.SolidBottom
			.OOPTitleCell.col-md-2.col-xs-12
				.Title Out-Of-Pocket limit
				.Sub (per year)
			.col-md-9.col-xs-12
				.row.DottedLeft.DottedBottom
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub In Network 
					.icon-cell.col-md-1.DottedRight.minheight.fam-cell-icon.col-sm-2.col-xs-2
						.fam-icon
					.value-cell.col-md-4.DottedRight.minheight.fam-cell-content.col-sm-3.col-xs-3
						p.number {{OOPInFam}}
							.NumSub
					.icon-cell.col-md-1.DottedRight.minheight.ind-cell-icon.col-sm-2.col-xs-2
						.ind-icon
					.value-cell.col-md-4.SolidRight.minheight.ind-cell-content.col-sm-3.col-xs-3
						p.number {{OOPInInd}}
				.row.DottedLeft.DottedBottom
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub Out of Network
					.icon-cell.col-md-1.DottedRight.minheight.fam-cell-icon.col-sm-2.col-xs-2
						.fam-icon
					.value-cell.col-md-4.DottedRight.minheight.fam-cell-content.col-sm-3.col-xs-3
						p.number {{OOPOutFam}}
							.NumSub
					.icon-cell.col-md-1.DottedRight.minheight.ind-cell-icon.col-sm-2.col-xs-2
						.ind-icon
					.value-cell.col-md-4.SolidRight.minheight.ind-cell-content.col-sm-3.col-xs-3
						p.number {{OOPOutInd}}
				.row.DottedLeft
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub Not Included in limit
					.col-md-10.SolidRight.minheight.value-cell.col-sm-10.col-xs-10
						p.cell-copy {{NotOOP}}
			.why-cell.col-md-1
				.whygroup(data-toggle="modal" data-target="#OOPModal")
					.whyitmatters-icon(style="margin-left: 10px;")
					.Sub.text-center Why it <br> matters
			.ScriptRow.row.SolidBottom
			.ScriptTitleCell.col-md-2.col-xs-12
				.Title Prescription coverage
			.col-md-9.col-xs-12
				.row.DottedLeft.DottedBottom
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub Tier 1
					.col-md-10.SolidRight.minheight.value-cell.col-sm-10.col-xs-10
						p.number {{Tier1}} 
						p.cell-copy.lower {{Tier1Type}}
						p.NumSub &nbsp; {{Tier1Note}}
				.row.DottedLeft.DottedBottom
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub Tier 2
					.col-md-10.SolidRight.minheight.value-cell.col-sm-10.col-xs-10
						p.number {{Tier2}} 
						p.cell-copy.lower {{Tier2Type}}
						p.NumSub &nbsp; {{Tier2Note}}
				.row.DottedLeft.DottedBottom
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub Tier 3
					.col-md-10.SolidRight.minheight.value-cell.col-sm-10.col-xs-10
						p.number {{Tier3}} 
						p.cell-copy.lower {{Tier3Type}}
						p.NumSub &nbsp; {{Tier3Note}}
				.row.DottedLeft
					.type-cell.col-md-2.SolidRight.minheight.col-sm-2.col-xs-2
						p.Sub Tier 4
					.col-md-10.SolidRight.minheight.value-.col-sm-10.col-xs-10
						p.number {{Tier4}} 
						p.cell-copy.lower {{Tier4Type}}
						p.NumSub &nbsp; {{Tier4Note}}
			.why-cell.col-md-1
				.whygroup(data-toggle="modal" data-target="#PrescriptionModal")
					.whyitmatters-icon(style="margin-left: 10px;")
					.Sub.text-center Why it <br> matters
		.AnnLimtRow.row.SolidBottom
			.col-lg-4.SolidRight.col-md-8.col-sm-8.col-xs-8
				.Title2 Is there an overall annual limit on what the plan pays?
				
			.col-lg-7.col-md-3.SolidRight.minheight.value-cell.col-sm-4.col-xs-4
				.number(style="padding-left:10px;") {{AnnualLimit}}
			.why-cell.col-md-1
				.whygroup2(data-toggle="modal" data-target="#AnnualLimitModal")
					.whyitmatters-icon(style="margin-left: 10px;")
					.Sub.text-center Why it <br> matters
		.UseNetworkRow.row.SolidBottom
			.col-lg-4.SolidRight.col-sm-8.col-xs-8
				.Title2 Does this plan use a network of providers?
				
			.col-lg-7.col-md-3.SolidRight.minheight.value-cell.col-sm-4.col-xs-4
				.number(style="padding-left:10px;") {{NetworkProviders}}
				//- a.pull-right.orange.hidden-xs.hidden-sm.hidden-md(href="https://www.providerlookuponline.com/UHC/po7/Search.aspx" style="padding:10px 20px 0 0;") Search the network <i class="fa fa-external-link"></i>
			.why-cell.col-md-1
				.whygroup2(data-toggle="modal" data-target="#NetworkModal")
					.whyitmatters-icon(style="margin-left: 10px;")
					.Sub.text-center Why it <br> matters

		.NeedReferralRow.row.SolidBottom
			.col-lg-4.col-md-8.SolidRight.col-sm-8.col-xs-8
				.Title2 Do I need a referral to see a specialist?
				
			.col-lg-7.col-md-3.SolidRight.minheight.value-cell.col-sm-4.col-xs-4
				.number(style="padding-left:10px;") {{Referral}}
			.why-cell.col-md-1
				.whygroup2(data-toggle="modal" data-target="#ReferralModal")
					.whyitmatters-icon(style="margin-left: 10px;")
					.Sub.text-center Why it <br> matters
		.NoServiceRow.row.SolidBottom
			.col-lg-4.col-md-8.SolidRight.col-sm-8.col-xs-8
				.Title2 Are there services this plan doesn’t cover?
				
			.col-lg-7.col-md-3.SolidRight.minheight.value-cell.col-sm-4.col-xs-4
				.number(style="padding-left:10px;") {{NotCovered}}
			.why-cell.col-md-1
				.whygroup2(data-toggle="modal" data-target="#ServicesModal")
					.whyitmatters-icon(style="margin-left: 10px;")
					.Sub.text-center Why it <br> matters
	






#DeductableModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				.close(type='button', data-dismiss='modal')
					.orange(aria-hidden='true') ×
				h4.modal-title Overall deductible	
			.modal-body
				p.Blu-text You must pay all the costs up to the deductible amount before this plan begins to pay for covered services you use. Check your policy or plan document to see when the deductible starts over (usually, but not always, January 1st). See the chart starting on page 2 of the Summary of Benefits and Coverage for how much you pay for covered services after you meet the deductible.

#OOPModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				.close.orange(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
				h4.modal-title Out-Of-Pocket limit
			.modal-body
				p.Blu-text The out-of-pocket limit is the most you could pay during a coverage period (usually one year) for your share of the cost of covered services. This limit helps you plan for health care expenses.

#PrescriptionModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
				h4.modal-title Prescription Coverage	
			.modal-body
				p.Blu-text Provider means pharmacy for purposes of this section Retail: Up to a 31 day supply You may need to obtain certain drugs, including certain specialty drugs, from a pharmacy designated by us. Certain drugs may have a pre-authorization requirement or may result in a higher cost. If you use a non-Network Pharmacy, you may be responsible for any amount over the allowed amount. Tier 1 Contraceptives covered at No Charge. See the website listed for information on drugs covered by your plan. Not all drugs are covered. Pharmacy Deductible does not apply to Tier 1 & 2


#AnnualLimitModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
				h4.modal-title Is there an overall annual limit on what the plan pays?
			.modal-body
				p.Blu-text The chart starting on page 2 of the Summary of Benefits and Coverage describes any limits on what the plan will pay for specific covered services, such as office visits.

#NetworkModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
				h4.modal-title. Does this plan use a network of providers?
			.modal-body
				p.Blu-text If you use an in-network doctor or other health care provider, this plan will pay some or all of the costs of covered services. Be aware, your in-network doctor or hospital may use an out-of-network provider for some services. Plans use the term in-network, preferred, or participating for providers in their network. See the chart starting on page 2 of the Summary of Benefits and Coverage for how this plan pays different kinds of providers.

#ReferralModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
				h4.modal-title Do I need a referral to see a specialist?
			.modal-body
				p.Blu-text This plan will pay some or all of the costs to see a specialist but only if you have the plan’s permission before you see the specialist.

#ServicesModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				.close(type='button', data-dismiss='modal')
					span(aria-hidden='true') ×
				h4.modal-title Are there services this plan doesn’t cover?	
			.modal-body
				p.Blu-text Some of the services this plan doesn’t cover are listed on page 5 of the Summary of Benefits and Coverage. See your policy or plan document for additional information about excluded services.




