// Plan Details Sub Page Bottom Content Mixin 
.content
            .Blu-text(style="margin: 0 auto;")
                br
                h4.bold.Blu-text WITH THIS PLAN, YOU:
                br 
                ul
                    li Select a “Primary Physician” &ndash; the main doctor who takes care of you.
                    li You do not need a referral to see a specialist. However, your co&ndash;pay will be less if your Primary Physician refers you.
                    li Save money by using the plan’s network of doctors, hospitals, pharmacies, and clinics. You’ll pay more of your costs outside the network.
                    li Have an out-of-pocket limit – the most you pay during a plan year for covered services. If you reach the limit, the plan will pay 100% of covered services for the rest of the plan year.
            p.lightGray.small This is only a summary. For more information about coverage and costs, call us 24/7 at <a href="tel:8442637797" class="">844-263-7797</a>. Insurance is offered by All Savers Insurance Company.
    include ./helathcarePlans-accordion

#BlueBottom
        .content
            h4.SubHeadText Helping you live your healthiest
            p.Blu-text As a UnitedHealthcare member, you’ll have resources to help you live your healthiest and receive support and tools to help you save money. With a mix of information, reminders and tools we make it easier to stay at your best health and get the most from your health care. <a href="http://welcometomyuhc.com/demo2013/" class="orange" target="_blank">Take a tour <i class="fa fa-external-link"> </i>  </a>
            .player
            //- video#SubPage-video(preload='metadata', controls='controls')
            //-     source(src="../../videos/ToolToSucceed/ToolsToSucceed.mp4", type="video/mp4")
            //-     source(src='../../videos/CostEstimator/Cost-Estimator.webm', type='video/webm')
            //-     source(src='../../videos/CostEstimator/Cost-Estimator.ogv', type='video/ogg') 

            video(preload='metadata', controls='controls' class="")
                source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/ToolToSucceed/ToolsToSucceed.mp4", type="video/mp4")
                source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/ToolToSucceed/ToolsToSucceed.webm', type='video/webm')
                source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/ToolToSucceed/ToolsToSucceed.ogv', type='video/ogg')
            p.Blu-text See more videos from UnitedHealthcare at <a href="http://www.uhc.tv" target="_blank" class="orange">UHC.tv</a> and <a href="http://www.uhc.com/storytellers.htm" target="_blank" class="orange">Storytellers</a>



