#medicasearch_roadblock_546a38d0b6755.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-sm
        .modal-content
          form#form546a38d0b67551(name='form546a38d0b67551', target='_blank', action='http://def.welcometouhc.com/ajax/finder/search?delsys=46')
          .modal-body
            p You are now leaving this site to search for your doctor, facility or clinic.
            button.btn.btn-secondary.closemodal.pull-left No thanks
            button.btn.btn-primary.pull-right(onclick='document.form546a38d0b67551.submit();$(\'.modal\').modal(\'hide\');') Okay
            .clearfix
    #hpseaerch_roadblock_546a38d0b6755.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog.modal-sm
        .modal-content
          form#form546a38d0b67552(name='form546a38d0b67552', target='_blank', action='http://def.welcometouhc.com/ajax/finder/search?delsys=46')
          .modal-body
            p You are now leaving this site to search for your doctor, facility or clinic.
            button.btn.btn-secondary.closemodal.pull-left No thanks
            button.btn.btn-primary.pull-right(onclick='document.form546a38d0b67552.submit();$(\'.modal\').modal(\'hide\');') Okay
            .clearfix
    #hpjvsearch_roadblock_546a38d0b6755.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
      .modal-dialog.modal-sm
        .modal-content
          form#form546a38d0b67553(name='form546a38d0b67553', target='_blank', action='http://def.welcometouhc.com/ajax/finder/search?delsys=46')
          .modal-body
            p You are now leaving this site to search for your doctor, facility or clinic.
            button.btn.btn-secondary.closemodal.pull-left No thanks
            button.btn.btn-primary.pull-right(onclick='document.form546a38d0b67553.submit();$(\'.modal\').modal(\'hide\');') Okay
            .clearfix
