#PrescriptCarousel.hidden-xs.container-fluid
    // #FilterBar.row
    //     .FilterTitle.col-lg-3.col-md-3.col-sm-2
    //         .filtertitle-text Viewing Options
    //         a(href="").resetOpt reset filters
    //     .Filter1.FilterSection.col-lg-6.col-md-6.col-sm-8
    //         .col1
    //             .CatastrophicFilter.MetalicFilter
    //                 input(type='checkbox' name='Catastrophic' checked).checkbox-inline
    //                 .labelcopy Catastrophic
    //             .BronzeFilter.MetalicFilter
    //                 input(type='checkbox' name='Bronze' checked).checkbox-inline
    //                 .labelcopy Bronze
    //         .col2
    //             .SilverFilter.MetalicFilter
    //                 input(type='checkbox' name='Silver' checked).checkbox-inline
    //                 .labelcopy Silver
    //             .GoldFilter.MetalicFilter
    //                 input(type='checkbox' name='Gold' checked).checkbox-inline
    //                 .labelcopy Gold
    //         .col3    
    //             .PlatinumFilter.MetalicFilter
    //                 input(type='checkbox' name='Platinum' checked).checkbox-inline
    //                 .labelcopy Platinum
    //             .HSAFilter.MetalicFilter
    //                 input(type='checkbox' name='HSA' ).checkbox-inline
    //                 .labelcopy HSA
    //     .Filter3.col-lg-3.col-md-3.col-sm-
    //         .deduct-sort
    //             .deduct-content <span class="fa fa-angle-double-up"></span> Sort highest to lowest
            

    #KeyBar 
        .planKey
            .inNetwork 
                .inNetworkCopy In Network 
                .inNetworkSearch 
                   +findAdoctorLink
            .plan-head
                .script-deduct-title
                    .PlanName-Title Prescription <br> deductible
                    .PlanName-Sub (Per individual)
            .plan-head
                .script-coverage-title
                    .PlanName-Title Prescription <br> coverage
                .typerow
                    .tier 
                        p.Blu-text <bold>Tier 1</bold>
                    .tier
                        p.Blu-text <bold>Tier 2</bold>
                    .tier 
                        p.Blu-text <bold>Tier 3</bold>
                    .tier
                        p.Blu-text <bold>Tier 4</bold>


     ul#PrescriptionPlans

    script( id="PrescriptionData" type="text/x-handlebars-template")
         {{#each AZPlans}}
         li.prescPlanoption
             .planName
                 .PlanName-Title {{PlanNameShort}}
                 .PlanName-Sub {{PlanType}} | {{this.MetallicLevel}}
            
             .Deduct-Fam {{this.DedInFam}}
             .scriptTier {{this.Tier1}}
             .scriptTier {{this.Tier2}}
             .scriptTier {{this.Tier3}}
             .scriptTier {{this.Tier4}}
             .SBCLink
                 a(href="files/sbc{{SBCURL}}").orange Summary of Benefit Coverage for this plan (PDF)
                     .fa.fa-download.orange
             .viewDetails
                 a(href=".{{PlanURL}}").PlanDetails-btn View Plan Details

         {{/each}}