#section1
        .content
            .white
                h1#welcome-section Welcome

                h2.SectionIntroText Thank you for your interest in UnitedHealthcare! We’re glad to tell you more about the plans we offer in Arizona, provided through All Savers Insurance Company.

                .icons
                    .row

                        .feature.col-lg-3.col-md-3.col-sm-6.col-xs-12   
                            +circle('./images/HealthPartner.png','See what makes the right health plan', '#choose-a-partner')
                        .feature.col-lg-3.col-md-3.col-sm-6.col-xs-12   
                            +circle('./images/Plans.png','Learn about the plans we offer','#section3')
                        .feature.col-lg-3.col-md-3.col-sm-6.col-xs-12   
                            +circle('./images/map.png','Explore our network of doctors, pharmacies and hospitals','#section4')
                        .feature.col-lg-3.col-md-3.col-sm-6.col-xs-12   
                            +circle('./images/Prescription.png','Understand our prescription drug coverage','#section5')
                        
                        
        .content                 
            +valuePropositionFeature('images/nurse-symbol.png',
                        'A nurse is just a phone call away', 'With each of our plans you’ll have access to a Registered Nurse 24 hours a day by calling NurseLine. Nurses can provide you information to help you make more informed decisions about your health care. You can chat with a nurse 24/7 at myuhc.com, too.','Blu-text','sec1btn-vid','white','images/NurseLine2.png')

            .player
                video#video-player-sec1(preload='metadata', controls='controls' class="sec-1-vid" data-videoId-az="nurse-line")
                    source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/Susan_Mustacchio_s.mp4", type="video/mp4")
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/Susan_Mustacchio_s.webm', type='video/webm')
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/Susan_Mustacchio_s.ogv', type='video/ogg')
                    

                             
        
                   


