#section6
    .content
        a(href="#section6")
        h1.white#getting-started Getting started
        h2.white Once you’ve selected the plan that’s right for you, it takes a few more steps before your coverage begins. Here are some things to know.
    
    .content
        .col-lg-12.col-md-12.col-sm-6.col-xs-12.circlesContPadding
            +icons('images/circle1.png','Enroll at the Federally Facilitated Marketplace','Once you have chosen your UnitedHeathcare plan on this site, print out the page or jot down the plan name. Return to <a href="http://www.healthcare.gov" target="_blank" class="orange">the Federally Facilitated Marketplace</a> and select the plan to enroll. Call us if you’d like help locating your plan. <br><br> To enroll, you’ll need the Social Security number for each person who will be covered by the plan. You’ll also be asked for the total income for everyone on the plan. If you are eligible for a subsidy, you will receive an estimate at that time.')
        .col-lg-12.col-md-12.col-sm-6.col-xs-12.circlesContPadding
           +icons('images/circle2.png','Pay your first bill','We will send you the first bill for your monthly premium 7 to 10 days after you enroll. Your coverage will begin after we receive your payment.')
        .col-lg-12.col-md-12.col-sm-6.col-xs-12.circlesContPadding
            +icons('images/circle3.png','Your coverage begins as early as March 1, 2015','If we receive your first payment on or before February 15, 2015, your coverage begins March 1, 2015.')
    

        .content

        .buttongroup.center-block.col-lg-12.col-md-12.col-sm-12.col-xs-12
            a.btn.btn-warning.col-lg-6.col-md-6.col-sm-6.col-xs-12(href="http://www.healthcare.gov" target="_blank") <b>ENROLL NOW</b>
        
            .col-lg-1.col-md-1.col-sm-1.col-xs-1
                p.text-center -OR-

            .white.col-lg-5.col-md-5.col-sm-5.col-xs-12 
                .dashedbox.text-center Call us at <b><a href="tel:+18442637797">844-263-7797</a></b>*
        div(style="margin:60px 0 30px 0") 
        p.white.small We’re available during the following times*:<br>Mon.–Tues. 8 a.m.–9 p.m. EST; Wed.–Thur. 8a.m.–8p.m. EST; Fri. 8a.m.–7p.m.; Sat. 9a.m.–6p.m.; Sun. 11a.m.–6p.m.

            
        +valuePropositionFeature('images/calc-symbol.png','A clear picture of your costs – before they occur', 'Quickly and easily estimate your health care costs for specific treatments and procedures with MyHealthcare Cost Estimator. You’ll get an estimate based on the provider and location you select, personalized to your health plan and your benefit status.','white','sec6-vid-btn','white','images/Cost-Estimate_Video_Thumb.png')
        .player
                video#sec6-video(preload='metadata', controls='controls' class="sec-3-vid")
                    source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/prescription.mp4", type="video/mp4")
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/prescription.mp4.webm', type='video/webm')
                    source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/prescription.mp4.ogv', type='video/ogg')

       
               