#section2.section2.plans
	.container
		.content
			h1#know-what-plan(style="margin-top:20px !important; margin-bottom:30px") Know what plan you’re interested in?
			//- +autocomplete
			#Dropdown

			script( id="DropdownTemplate" type="text/x-handlebars-template") 
				.dropdown
					.dropButton(type='button', data-toggle='dropdown') 
						.droptext Select a plan
						ac-btn.button.btn.btn-default.pull-right#dropDownToggle(style="padding-bottom: 1px;" type='button') <i class="fa fa-sort-desc fa-3x orange" style="position: relative; top: -10px;"></i>
					ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu1')
						{{#each AZPlans}}
						li(role='presentation')
							a(role='menuitem', tabindex='-1', href='./{{PlanURL}}') {{PlanNameShort}}
						{{/each}}
			br 
			h4.Blu-text or browse all our plans below
			br
				
		
	//- include ./components/carousel.jade

	.plans_list_container

