#section4
	a(href="#section4")
	.content
		.div(style="margin-bottom:95px;")
			h1.white#our-network-hospitals Our network of doctors & hospitals	
			h2.white Our health plans feature a network of doctors, pharmacies, hospitals and clinics – more than 5,400 doctors and 6,000 facilities across the state.<sup>*</sup> 
				+seemore('sec4seeMoreBTn','white', 'sec3seeMore','sec3seeLess')
		section.col-lg-9.sec4-hidden-cont.white(style="margin-bottom:25px;")
			p.white Your coverage starts by selecting a “Primary Physician” within the network. That’s the main doctor who provides your regular care, such as annual checkups or managing a chronic condition you might have. You do not need a referral to visit a specialist, but your co-pay will be lower if your Primary  Physician refers you.
			p.white With professionals in every county and facilities across the state, you’ll have access to:
			ul
				li More than 2,800 Primary Physicians 
				li Over 2,600 specialists 
				li 72 general acute-care hospitals
				li Over 1,000 Pharmacies

			p.white You’ll also have 24-hour access to a registered nurse by calling NurseLine. Nurses can provide you information to help you make more informed decisions about your health care. You can chat with nurses on the myuhc.com website, too.
			p.white Your network is important because it provides access to care. You save money when you see providers in the network. Please note the Compass Plus network is not a national network. For health care services, you must see network providers within the plan service area. For emergency services, you may use any facility or provider. Provider information in the directory may change over time. Prior to the end of open enrollment and any time you are seeking services, you should review the directory again to make sure that your provider is still in the network.

			h3.white Care and savings
			p.white Your network is important, because it provides access to care. You’ll usually get the most benefit from your plan when you visit providers in the network, because more of your costs may be covered. You’ll usually pay more of your costs when out of your network. 
			p.white You’ll get the most benefit from your plan when you visit providers in the network, because more of your costs will be covered. You’ll usually pay more of your costs when out of your network.


		.row
			.nextsteps
				img.placeholderbox.col-lg-8.col-md-8.col-sm-8.col-xs-12(src='./images/map-symbol.png')
				.col-lg-3.col-md-3.col-sm-3.col-xs-12(style="margin-top:2%;")

					h2.white(style="font-size: 24px;") Search our Network:
					p.white(style="width: 248px !important; height: 80px !important; font-size: 12px;") Browse or search the doctors, pharmacies, hospitals, and clinics in the Compass Plus network by visiting our provider lookup site. 

					a.button.btn.orange-btn.btn-lg.btntxt(a href="http://www.providerlookuponline.com/uhc/po7/gateway.aspx?&delsys=83" target="_blank" id="networkBtn" alt="search-uhc-network") Doctors &amp; Facilities
					
					a.button.btn.orange-btn.btn-lg.btntxt(a href="https://www.myuhcdental.com/presence/release/memberprovnetworksearch.asp" target="_blank" alt="search-uhc-dentist-network" id="networkBtn" class="button btn orange-btn btn-lg btntxt") Dentists

					a.button.btn.orange-btn.btn-lg.btntxt(href="https://www.lww-trans.com/clinicianSearch.laww?color=orange&id=9&lang=en&eapCert=false&trans" target="_blank" alt="search-uhc-mental-health-provider" id="networkBtn") Mental Health Provider
					

	.content(style="padding-top:120px; padding-bottom:100px; ")                 
		+valuePropositionFeature('images/phone-symbol.png','Health4Me – your plan on the go', 'The Health4Me app puts your plan in your pocket. Look up your benefits, research conditions and find nearly doctors, clinics, hospital and urgent care facilities. If unexpected illnesses occur, you are connected to care wherever you are.','Blu-text','sec4-vid-btn','white','images/Health4Me.png')
		.player
			video#sec4-video(preload='metadata', controls='controls' class="sec-4-vid" data-videoId-az="health4me")
				source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/Health4Me/health4Me.mp4", type="video/mp4")
				source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/Health4Me/health4Me.webm', type='video/webm')
				source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/Health4Me/health4Me.ogv', type='video/ogg')
	.content
		p.white.small *Network statistics from UnitedHealth Networks updated October 24, 2014. Pharmacies include retail, clinic, compounding, home infusion therapy, institutional, and long-term care. Facilities include adult daycare, allied health professional groups, ambulance services, ambulatory surgicenters, audiology/hearing centers, birthing centers, clinics/day care centers, convenience care clinics, diabetes education centers, dialysis centers, drug/alcohol rehab centers, general acute care hospitals, medical rehabilitation centers, MRI centers, pediatric hospitals, physical disability/rehab facilities, provider groups, psychiatric hospitals, radiation/oncology facilities, rural health clinics, urgent care centers, X-ray+ radiology facilities, and outpatient diagnostic/treatment centers.
		p.white.small Important information about the Compass network: The Compass network is not a national network. For health care services, you must see network providers within the plan service area. For emergency services, you may use any facility or provider.
		p.white.small Provider information in the directory may change over time. Prior to the end of open enrollment and any time you are seeking services, you should review the directory again to make sure that your provider is still in the network.

