#section5
  a(href="#section5")

    a.arrows.hidden-sm.hidden-xs.pull-left(id="presc-arrow-left")
        i.fa.fa-angle-left.fa-5x
        .small.seemoretext.seemoretext-left.pull-left More <br> Plans
        

    a.arrows.hidden-sm.hidden-xs.pull-right(id="presc-arrow-right")
        i.fa.fa-angle-right.fa-5x
        .small.seemoretext.seemoretext-right.pull-right More <br> Plans

  .content

    h1.Blu-text#making-presc-simple Making prescriptions simple
    h2.Blu-text Whether you need the occasional prescription or regular medication, our plans cover you. And we’ll make it easy to keep track of your orders and payments.
      +seemore("sec5seeMoreBtn")
    br
    .row  
      #sec5HiddenContent.col-lg-8.col-md-10.col-sm-12
        p.Blu-text The drugs included in your plan are shown in the Prescription Drug List. The drugs on the list are separated into four "tiers." You pay less for drugs in Tier 1 (generics and low-cost brands) and most for drugs in Tier 4 (specialty medications requiring special dosing or administration).
        p.Blu-text The drug list is the same for all of our plans that feature pharmacy benefits. But how much you pay depends on the plan you select.
        p.Blu-text You’ll have a convenient online record of the prescriptions you’ve filled and how much you’ve paid. You’ll also have access to drug information, pricing and possible alternatives you can discuss with your doctor. When you sign up for HealtheNotes, we’ll contact you and your doctor with personalized suggestions for medication savings for more than 24 conditions.

  
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        p.smal.gray Not all the plans shown here may be available to you. The type of plans open to you determined on the <a href="http://wwww.healthcare.gov" target="_blank" alt="#" title="wwww.healthcare.gov">the Federally Facilitated Marketplace</a>
  include ./ScriptCarousel
  
  .content
    a.btn.btn-lg.orange-btn(id="sec5btn" target="_blank" style="margin: 0 auto; display: block; width: 230px; color:#FFF;" href="http://xaz.welcometouhc.com/files/baseline-responsive/content/global_assets/Exchanges/Essential%20PDL.pdf") VIEW THE DRUG LIST
    br 
  .content
    +valuePropositionFeature('images/pharmacyCard-symbol.png','Specialty Pharmacy services', 'Our OptumRx Specialty Pharmacy provides comprehensive and coordinated support for medications used to treat complex chronic conditions. Our pharmacists provide information and support to help you understand and manage your medication.','Blu-text','sec5-vid-btn','white','images/SpecialtyPharmacy2.png')
    
    .player
          video#video-player-sec5(preload='metadata', controls='controls' class="sec-3-vid" data-videoId-az="pharmacy-services")
              source(src="http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/Richard_Sorenson_s_Story.mp4", type="video/mp4")
              source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/Richard_Sorenson_s_Story.webm', type='video/webm')
              source(src='http://d1rq39syj6bzh8.cloudfront.net/preview/AZ/videos/Richard_Sorenson_s_Story.ogv', type='video/ogg')

  .wrapper

  .content
    .small.lightgray(style="margin-top:50px;") Coverage of your medications may change. Check your pharmacy benefit documents for more information.
