block top-nav
	.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
		.upperNavbar
			.container
				.upperNavbar-Box.pull-right.hidden-sm.hidden-xs
					.questionsTxt Questions? Call us at <a style="padding-right:10px;" href="tel:+18775129939" class="phone-number">877-512-9939</strong></a> TTY user dial 711
					p.xs-small (8 a.m to 8 p.m EST, M-F)
		.container.mainnav
			button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='index.html') 
				img.headlogo(src="images/UHC-Logo-Blu.png")
			.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href='#choose-a-partner') Choosing a plan
						li
							a(href='#sectionTest') Our plans
						li
							a(href='#section4') Doctors &amp; hospitals
						li
							a(href='#section5') Prescription coverage
						li
							a(href='#section6') Getting started
						li.hidden-lg.hidden-md
							a(href='tel:+18775129939') Questions call us at <span class="Blu-text">877-512-9939</class>
						//- li.hidden-lg.hidden-md.hidden-sm
						//- 	a(href='index.hmtl/sp') En Enspanol

				