mixin videoPlayer(vid-src-mp4, vid-src-webm, vid-src-ogg)
  .player
    video#video-player-sec1(preload='metadata', controls='controls' class="sec-1-vid")
        source(src='#{vid-src-mp4}', type="video/mp4")
        source(src='#{vid-src-webm}', type='video/webm')
        //- source(src='#{vid-src-ogg}', type='video/ogg')


mixin autocomplete
  .row
      .col-lg-7.col-md-7.col-sm-7.col-xs-12
          .input-group
            input.form-control.autocomplete#tags(type='text' placeholder='Select or search for a plan')
            span.input-group-btn
              .ac-btn.button.btn.btn-default#dropDownToggle(style="padding-bottom: 1px; padding-top: 8px;" type='button') <i class="fa fa-sort-desc fa-3x orange"></i>
      
      .col-lg-5.col-md-5.col-sm-5.col-xs-12
        #viewDetails.btn.btn-lg.btn-warning VIEW DETAILS
      p(style="font-size:18px; padding-top:10px;").Blu-text.col-lg-12.col-md-12.col-sm-12.col-xs-12 or browse all our plans below

mixin chart
 section
      .row
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          .col-lg-12.col-md-12.col-sm-12.feature-content
            h6 Paying the deductible
            p.small
              | Jane visits her doctor. She pays the entire cost from her visit because she has not reached her $1,500 deductible yet
          img.img-responsive.251(src='./images/chart-graph-1.png' alt="chart-graph")

          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.green.centerText.bold.small Jane pays<br>100%
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.Blu-text.centerText.bold.small Her plan pays<br> 0%
            .col-lg-12.col-md-12.col-sm-12.feature-stats
              .col-lg-8.col-md-8.col-sm-8.col-xs-6
                p Office visit cost:
                p Jane pays:
                p Her plan pays:
              .col-lg-4.col-md-4.col-sm-4.col-xs-6
                p $100
                p.green $100
                p.Blu-text $0

        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          .col-lg-12.col-md-12.col-sm-12.feature-content
            h6 Paying co-insurance
            p.small
              | As the year goes on, Jane has  more expenses, and she meets her deductible. When she has a minor injury, her plan now pays most of her treatment costs.
          img.img-responsive(src='./images/chart-graph-2.png' alt="chart-graph")
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.green.centerText.centerText.bold.small Jane pays <br>20%
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.Blu-text.centerText.bold.small Her plan pays<br> 80%
            .col-lg-12.col-md-12.col-sm-12.feature-stats
              .col-lg-8.col-md-8.col-sm-8.col-xs-6
                p Treatment costs:
                p Jane pays:
                p Her plan pays:
              .col-lg-4.col-md-4.col-sm-4.col-xs-6
                p $1,000
                p.green $200
                p.Blu-text $800
        .col-lg-4.col-md-4.col-sm-4.col-xs-12
          .col-lg-12.col-md-12.col-sm-12.feature-content
            h6 Reaching out-of-pocket limit
            p.small
              | By late in the year Jane has paid $5,000 for her care and reached her out-of-pocket limit for the year. When she needs some diagnostic tests, her plan pays 100% of her eligible expenses.
          img.img-responsive(src='./images/chart-graph-3.png' alt="chart-graph")        
          .col-lg-12.col-md-12.col-sm-12.col-xs-12
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.green.centerText.centerText.bold.small Jane pays <br>0%
            .col-lg-6.col-md-6.col-sm-6.col-xs-6.Blu-text.centerText.bold.small Her plan pays<br> 100%
            .col-lg-12.col-md-12.col-sm-12.feature-stats
              .col-lg-8.col-md-8.col-sm-8.col-xs-6
                p Lab costs:
                p Jane pays:
                p Her plan pays:
              .col-lg-4.col-md-4.col-sm-4.col-xs-6
                p $500
                p.green $0
                p.Blu-text $500


// used in an accordion
mixin metallicChart
  .table-responsive
    table.table.table-hover.table-bordered.table-condensed
        tr
          th
          th 
            p.Blu-text.bold Total monthly cost 
          th 
            p.Blu-text.bold Cost when you receive care
          th 
            p.Blu-text.bold Best if you...
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle red2"></i><small> Catastrophic</small>
          td
            .imgCont
              .mask
                img(src="./images/one-dallar.png")
          td
            .imgCont
              .mask
                img(src="./images/light-blue-dollars.png")
          td
            p.Blu-text.lightGray have a “hardship exemption” OR are under 30 and willing to pay most out-of-pocket expenses
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle bronze"></i>  Bronze
          td
            img(src="./images/one-dallar.png")
          td
            img(src="./images/light-blue-dollars.png")
          td
            p.Blu-text.lightGray rarely use medical services and want lower monthly payments
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle silver"></i>  Silver
          td
            img(src="./images/two-dollars.png")
          td
            img(src="./images/three-dollars-light.png")
          td
            p.Blu-text.lightGray want to balance monthly costs with out-of-pocket expenses
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle gold"></i>  Gold 
          td
            img(src="./images/three-dollars.png")
          td
            img(src="./images/two-dollars-light.png")
          td
            p.Blu-text.lightGray want to manage monthly payments while reducing out-of-pocket expenses
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle platnium"></i>  Platinum
          td
            img(src="./images/dark-blue-dollars.png")
          td
            img(src="./images/one-dollars-light.png")
          td
            p.Blu-text.lightGray frequently use medical services or want low out-of-pocket costs

mixin metallicChart2
  .table-responsive
    table.table.table-hover.table-bordered.table-condensed
        tr
          th
          th 
            p.Blu-text.bold Total monthly cost 
          th 
            p.Blu-text.bold Cost when you receive care
          th 
            p.Blu-text.bold Best if you...
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle red2"></i><small> Catastrophic</small>
          td
            .imgCont
              .mask
                img(src="./images/one-dallar.png")
          td
            .imgCont
              .mask
                img(src="./images/light-blue-dollars.png")
          td
            p.Blu-text.lightGray have a “hardship exemption” OR are under 30 and willing to pay most out-of-pocket expenses
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle bronze"></i>  Bronze
          td
            img(src="./images/one-dallar.png")
          td
            img(src="./images/light-blue-dollars.png")
          td
            p.Blu-text.lightGray rarely use medical services and want lower monthly payments
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle silver"></i>  Silver
          td
            img(src="./images/two-dollars.png")
          td
            img(src="./images/three-dollars-light.png")
          td
            p.Blu-text.lightGray want to balance monthly costs with out-of-pocket expenses
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle gold"></i>  Gold 
          td
            img(src="./images/three-dollars.png")
          td
            img(src="./images/two-dollars-light.png")
          td
            p.Blu-text.lightGray want to manage monthly payments while reducing out-of-pocket expenses
        tr
          td
            p.Blu-text.bold <i class="fa fa-circle platnium"></i>  Platinum
          td
            img(src="./images/dark-blue-dollars.png")
          td
            img(src="./images/one-dollars-light.png")
          td
            p.Blu-text.lightGray frequently use medical services or want low out-of-pocket costs



mixin plan-details(copy, Lione, Litwo, Lithree, id)
  section(class="detials" id="#{id}")
    h3.Blu-text= copy
    .col-lg-6.col-md-6.col-sm-6.col-xs-12
      ul 
       li.Blu-text
        p.Blu-text!= Lione
       li.Blu-text
        p.Blu-text!= Litwo
    .col-lg-6.col-md-6.col-sm-6.col-xs-12  
      ul        
       li.Blu-text
        p.Blu-text!= Lithree
       //- li.Blu-text
       //-  p.Blu-text!= Lifour


mixin valuePropositionFeature(imgSrc,heading,copy,copyColor,vidbtnId,vidColorClass,VideoThumb)
    .row
      .col-lg-12.col-md-12.col-sm-12.col-xs-12
        p.small.blue-mid 
      .col-lg-12.col-md-12.col-sm-12.col-xs-12#valuePropFeature
        .col-lg-1.col-md-1.col-sm-1.col-xs-12
            img.circleimg.img-responsive.center-block(src= '#{imgSrc}')
          .col-lg-9.col-md-9.col-sm-9.col-xs-12
            h4.bold(class="#{copyColor}")!= heading
            p.value-prop-copy(class="#{copyColor}")= copy

          .videoTrigger.pull-right.col-lg-2.col-md-2.col-sm-2.col-xs-12.pull-right(id="#{vidbtnId}")
            
                    img.videoTriggerImg.img-responsive(src="#{VideoThumb}" class="#{vidColorClass}")

                      


mixin icons(link,heading,copy)
    .col-lg-1.col-md-1.col-sm-1.col-xs-12
        img.sec6numbers.img-responsive(src= "#{link}" )
    .col-lg-9.col-md-9.col-sm-9.col-xs-12
      h4.white.bold= heading
      .icons-copy.white!= copy


mixin circle(src,copy,scrollLink)
    .circle
      a(href="#{scrollLink}")
         img.circleimg-top.img-responsive(src= "#{src}" )
      p.circle-copy= copy  

mixin scrolldown()
    //- .scrolldown.hidden-md.hidden-sm.hidden-xs 
    //-     p SCROLL TO<br>VIEW MORE
    //-     .fa.fa-arrow-down.icon


mixin moreDetails(link, id, seeMoreID, seeLessID)
  .moreDetails.pull-right.orange  
                .fa.fa-plus-square.fa-2x(id='#{id}', data-toggle='collapse', href='#{link}' class="moreDetailsBtn")
                p.small.orange.pull-right(id="#{seeMoreID}" data-toggle='collapse', class='#{link}')
                  |See
                  br
                  |More
                p.small.orange.pull-right.hidden(id="#{seeLessID}" data-toggle='collapse', class='#{link}')
                  |See
                  br
                  |Less

mixin seemore(id, color, seeMoreID, seeLessID)
  .seemore.orange()  
                div.white-bg
                .fa.fa-plus-square(style="padding:0 7px 0 0; font-size: 29px; float:left;" data-toggle='collapse', href='#', id='#{id}')
                p.seemoreText.small(class="#{color}" style="float:left;" id="#{seeMoreID}")
                  |See
                  br
                  |More
                p.seemoreText.small.hidden(class="#{color}" style="float:left;" id="#{seeLessID}")
                  |See
                  br
                  |Less


mixin watchVideo(link, id, colorClass)
    .pull-right.orange(style="margin-top:20px")
                col-lg-6.col-md-6
                  .fa.fa-youtube-play.fa-2x(href='#{link}',id='#{id}')
                .col-lg-6.col-md-6
                  p.video-btn-copy.small(class="#{colorClass}",href='#{link}')
                    |Watch
                    |Video
mixin watchVideo2(link, id, colorClass)
    .col-lg-2.col-md-2.pull-right.orange()
                .col-lg-6.col-md-6
                  .fa.fa-youtube-play.fa-3x(href='#{link}',id='#{id}')
                .col-lg-6.col-md-6
                  p.video-btn-copy.small(class="#{colorClass}",href='#{link}')
                    |Watch
                    |Video

mixin embededVid(src, id)
  iframe(width='640', height='360', src='#{src}', frameborder='0', allowfullscreen='allowfullscreen' id="'#{id}'")
  // new line

mixin modalPopup(id, modalTitle, modalcontent)
    .modal.fade(id='#{id}' tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            .close(type='button', data-dismiss='modal')
              span(aria-hidden='true') ×
            h4.modal-title #{modalTitle}
          .modal-body
            p #{modalcontent}

mixin planNameMixin
  a(href="./")
    img(src="./images/BackStoSummary.png" style="width: 115px")
  h3.PlanNameCell Plan details for: <span class="visible-xs-inline"> <br></span> {{PlanNameShort}}

  p.Blu-text If you are eligible for a cost-sharing reduction on the Federally Facilitated Marketplace, you may qualify for lower costs than shown here. Your actual costs will be determined on the Marketplace. If you have questions, call us 24/7 at 844-263-7797.

  .PlanSubRow.row
    .col-lg-8.col-md-8.col-sm-12.col-xs-12
      p.small <a href="./files/sbc{{SBCURL}}" class="orange" target="_blank">View more detail in Summary of Benefits and Coverage (PDF) <i class="fa fa-download"></i> </a>
    .col-lg-4.col-md-4.col-sm-12.col-xs-12
      p.small.lightGray Premium pricing available on the <a href="http://www.healthcare.gov" target="_blank" class="orange">the Federally Facilitated Marketplace</a>


mixin footerDisclaimer
  #FootDisclaimer
        .container
            p.small.lightGray This website is operated by UnitedHealthcare and is not the Health Insurance Marketplace website. Insurance is offered by All Savers Insurance Company. <br> This health care coverage is not designed or marketed as employer-provided insurance. It does not comply with your state’s small-employer group health insurance laws. These plans cannot be used, now or in the future, by you or an employer to provide insurance for employees.



mixin findAdoctorLink
  a.arrow(data-toggle='modal', href='http://www.providerlookuponline.com/uhc/po7/gateway.aspx?&delsys=83' target="_blank")
      .small Search <span class="fa fa-search"></span>
  

