// Main Stylesheet

// Addins 
@import "../bower_components/animate/animate.less";
@import "../bower_components/video-js/video-js.less";

// Custom Files
@import 'plantable';
@import 'UHC-variables';
@import 'UHC-main';
@import 'UHC-mixins';
@import 'UHC-Type';
@import 'plandetails';
@import 'UHC-responsive';


@import '../bower_components/lesshat/build/lesshat';
// Import Font Awesome Library

@import '../bower_components/font-awesome/less/font-awesome';
@fa-font-path: '../bower_components/font-awesome/fonts';

// Import All Bootstrap Styles

// Core variables and mixins
@import "../bower_components/bootstrap/less/variables.less";
@import "../bower_components/bootstrap/less/mixins.less";

// Reset
@import "../bower_components/bootstrap/less/normalize.less";
@import "../bower_components/bootstrap/less/print.less";

// Core CSS
@import "../bower_components/bootstrap/less/scaffolding.less";
@import "../bower_components/bootstrap/less/type.less";
@import "../bower_components/bootstrap/less/code.less";
@import "../bower_components/bootstrap/less/grid.less";
@import "../bower_components/bootstrap/less/tables.less";
@import "../bower_components/bootstrap/less/forms.less";
@import "../bower_components/bootstrap/less/buttons.less";

// Components
@import "../bower_components/bootstrap/less/component-animations.less";
@import "../bower_components/bootstrap/less/glyphicons.less";
@import "../bower_components/bootstrap/less/dropdowns.less";
@import "../bower_components/bootstrap/less/button-groups.less";
@import "../bower_components/bootstrap/less/input-groups.less";
@import "../bower_components/bootstrap/less/navs.less";
@import "../bower_components/bootstrap/less/navbar.less";
@import "../bower_components/bootstrap/less/breadcrumbs.less";
@import "../bower_components/bootstrap/less/pagination.less";
@import "../bower_components/bootstrap/less/pager.less";
@import "../bower_components/bootstrap/less/labels.less";
@import "../bower_components/bootstrap/less/badges.less";
@import "../bower_components/bootstrap/less/jumbotron.less";
@import "../bower_components/bootstrap/less/thumbnails.less";
@import "../bower_components/bootstrap/less/alerts.less";
@import "../bower_components/bootstrap/less/progress-bars.less";
@import "../bower_components/bootstrap/less/media.less";
@import "../bower_components/bootstrap/less/list-group.less";
@import "../bower_components/bootstrap/less/panels.less";
@import "../bower_components/bootstrap/less/wells.less";
@import "../bower_components/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../bower_components/bootstrap/less/modals.less";
@import "../bower_components/bootstrap/less/tooltip.less";
@import "../bower_components/bootstrap/less/popovers.less";
@import "../bower_components/bootstrap/less/carousel.less";

// Utility classes
@import "../bower_components/bootstrap/less/utilities.less";
@import "../bower_components/bootstrap/less/responsive-utilities.less";

// Injects all imports files automatically (ex. _mypartial)
// [injector]
@import 'UHC-Type.less';
@import 'UHC-main.less';
@import 'UHC-mixins.less';
@import 'UHC-responsive.less';
@import 'UHC-variables.less';
@import 'plandetails.less';
@import 'plantable.less';
@import 'responsive.less';
// [endinjector]

.main-container {
    
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.version {
    font-size: 14px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    position: absolute;
    top: 10px;
    right: 10px;
}
.logo {
    margin-top: 15px;
}

.links a {
    color: white;
    margin-right: 5px;
    margin-top: 20px;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #ed7c6c;
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    font-size: 100%;
    padding: .5em 1em;
    text-decoration: none;
}

// Styling on warning for users on IE7 or below
.browsehappy {
    text-align: center;
    margin: 0;
    background: #fff8e2;
    color: #000;
    padding: 0.5em 0;
}

#networkBtn {
    width: 289px !important;
    font-family: 'Open Sans',sans-serif !important;
    font-size: 14px;

}

.btntxt {
text-transform: uppercase;
letter-spacing: 2px;
font-size: 16px !important;
font-weight: 600 !important;
padding: 18px 15px !important;
}