// Plan Table Styling

// Table Carousel Styles 

.popover {
    z-index:10 !important;
    display: inline-block !important;
    top: 0px !important;
}

// ============== ICONS 

.fam-icon {
    width: 35px;
    height: 31px;
    background: url('../images/family-icon.png') no-repeat;
    background-size: 90%;

}

.ind-icon {
    width: 45px;
    height: 31px;
    background: url('../images/ind-icon.png') no-repeat;
    background-size: 100%;
}

.whyitmatters-icon {
    width: 20px;
    height: 22px;
    background: url('../images/WhyitMatters_icon.png') no-repeat;
    background-size: 100%;
}

// ============ BORDERS 

.DottedBottom {border-bottom: 2px dotted @box-gray;}
.DottedTop {border-top: 2px dotted @box-gray;}
.DottedLeft {border-left: 2px dotted @box-gray;}
.DottedRight {border-right: 2px dotted @box-gray;}

.SolidBottom {border-bottom: 1px solid @box-gray; }
.SolidTop {border-top: 1px solid @box-gray;}
.SolidLeft {border-left: 1px solid @box-gray;}
.SolidRight {border-right: 1px solid @box-gray;}



#TableCarousel {
    height: 600px !important;
    margin-top: 100px;
    // padding-top:100px;
    // width: 70%;
    // margin: 0 auto;




    #FilterBar {
        background-color: lighten(#b6d9ef, 10%);
        min-height: 112px;
        width:100%;
        display:inline-block;
        height: auto;
        

    p {
        color: @h1-blue;
        font-weight: 500;
        margin-bottom:0px;
    }

    .resetOpt {
        color: @orange;
        .small;
    }

    .FilterTitle {
        padding: 5% 5% 0 7%;
         color: @h1-blue;
        font-weight: 700;
        border-right: 2px solid @white;
        .resetOpt {
            font-weight: 300;
        }
    }
    .FilterSection {
        overflow: hidden;
        float: left;
        height: 100%;
        padding: 2% 3% 0 3%;
       background-color: lighten(#b6d9ef, 10%);
    }
    .Filter1, .Filter2 {
        border-right: 2px solid @white;
    }

    .checkbox-inline, .radio-inline {
            float:left;
            margin: 0;
            height: 23px !important;
        }
        .labelcopy {
            padding-left: 5px;
            float:left;
            color: @h1-blue;
            font-size: 12px;
        }

    .Filter1 {

        .Ind-and-Fam, .Ind-Only { 
            height: 30px;
        }  
    }

    .Filter2 {

        .col1, .col2 {
            display: inline-block;
            height: 100%;
            margin-right: 20px;
        }

        .MetalicFilter {
            display:block;
            height: 30px;
            
        }

    } // Close of FIlter 2 Stylings 

    .Filter3 {
        float: left;
        height: 100%;
        width: 31.4%;
        padding-right: 10px;
        background-color: lighten(#b6d9ef, 10%);

        .deduct-sort { 
            height: 50%;
            border-bottom: 2px solid @white;
            color: @h1-blue;
           .deduct-content {padding: 20px 0 10px 20px; 
            color: @h1-blue;}
        }
        .print-plans {
            height: 50%;
            .print-content {padding: 20px 0 10px 20px; 
                color: @h1-blue;}
        }
    }
} // Close of Filter Bar Stylings


.alternaterow {
    background-color: @light-gray;
}


    #KeyBar {
        position: absolute;
        border-right: 1px solid @box-gray; 
        width: 200px;
        z-index: 300;
        .planKey {
            float:left;
            width: 185px;
            
        }
        .inNetwork {
            padding: 43px 20px 37px 0px;
            .SolidBottom;

            .inNetworkCopy {
                color: @box-gray;
                float:left;
                font-size: 13px;
                
            }
            .inNetworkSearch {
                font-size: 13px;
                .pull-right;
                .orange;
            }
        }
        .plan-head {
            display: inline-block;
            margin-bottom: -4px;
            width: 100%;

            .SolidBottom;

            .deduct-title {
               padding: 30.5px 20px 30.5px 0px;
               width: 68%;
               float:left;
            }
         }
         .typerow {
            display:block;
            float:right;
            width: 32%;
            .fam {
                padding: 20px 10px 18px 14px;
                .DottedBottom;
                border-left: 2px dotted @box-gray;

                .fam-icon {

                    width: 35px;
                    height: 31px;
                    background: url('../images/family-icon.png') no-repeat;
                     background-size: 110%;
                    
                }
            }

            .ind {
                padding: 20px 10px 20px 10px;
                .alternaterow;
                border-left: 2px dotted @box-gray;
                border-right: 1px solid @box-gray;

                
            }
         }
    

    }
    #Plans {

        display:block;
        height: 493px;
        overflow: auto;
        overflow-y: hidden;
        margin: 0 auto;

        li {
            list-style-type: none;
        }
       
    }
    .planOption, .prescPlanoption {
        float:left;
        // width: 200px;
       // border-right: 1px solid @box-gray;
        display: inline-block;
        padding: 0px !important;

        &:first-child{
            margin-left:187px;
          //  border-left: 1px solid @box-gray;
        }
    }

    
    .Amount {
        color: @Mid-Blu;
         font-size: 22px;
         font-weight: 300;
         
    }



    .planName, .Deduct-Fam, .Deduct-Ind{
      padding: 20px 20px 19px 20px;
       border-bottom: 1px solid @box-gray;
       border-right: 1px solid @box-gray;
    }

    .PlanName-Title {
        color: @h1-blue;
        font-size: 17px;
        font-weight: 700;
    }
    .PlanName-Sub {
        .small;
        color: @box-gray;
    }



    .Deduct-Fam, {
        .Amount;
        .DottedBottom; 
        .SolidRight;
    }
    .Deduct-Ind {
        .Amount;
        .SolidBottom;
        .alternaterow;
    }

    .OOPocket-Fam {
        padding: 19px;
        .Amount;
        .DottedBottom; 
        border-right: 1px solid @box-gray;
    }

    .OOPocket-Ind {
        padding: 20px;
        .Amount;
        .SolidBottom;
        .alternaterow;
        border-right: 1px solid @box-gray;
    }

    .SBCLink {
        padding: 0 20px 20px 20px;
        a {
            font-size: 14px;
            color: @orange !important;
        }
    }

    .viewDetails {
        padding: 20px;
        a {
            font-size: 17px;
            font-weight: 700;
            color: @orange !important;
        }
    }
} // Close of TableCarousel

// ================================
// ================================
// ================================

#PrescriptionPlans > li:nth-child(3) > div.Deduct-Fam{
    border-right: 1px solid #bdbdbd;
}

#PrescriptCarousel {
    height: 600px !important;
    // padding-top:100px;
    width: 70%;
    margin: 0 auto;


    .tier {
        padding: 20px 09px 19px 10px;
        border-left: 2px dotted @box-gray;
        border-right: 1px solid @box-gray;
        border-bottom: 2px dotted @box-gray;
    }

    .whiterule {
        border-right: 4px solid @white;
    }


    .scriptTier {
        .Amount;
        .DottedBottom; 
        .SolidRight;
        padding: 20px 20px 18px 20px;
    }

    #PrescriptionPlans {
         display:block;
        height: 540px;  
        overflow: auto;
        overflow-y: hidden;
        margin: 0 auto;

      //  li { list-style-type: none; }
    }


#PrescriptionPlans > li > div.SBCLink{
    margin-top: 20px;
} 

    #FilterBar {
        //background-color: lighten(#b6d9ef, 10%);
        min-height: 112px;
        width: 100%;
        display:inline-block;
        height: auto;
        width:100%;

    p {
        color: @h1-blue;
        font-weight: 500;
        margin-bottom:0px;
    }

    .resetOpt {
        color: @orange;
        .small;
    }

    .FilterTitle {
        background-color: lighten(#b6d9ef, 10%);
       padding: 3% 0 0 3%;
       min-height:112px;
         color: @h1-blue;
        font-weight: 700;
        .whiterule;
        .resetOpt {
            font-weight: 300;
        }
    }
    .FilterSection {
        overflow: hidden;
        float: left;
        
        min-height: 112px;
        height: 100%;
         padding: 3% 0 0 3%;
       background-color: lighten(#b6d9ef, 10%);
    }
    .Filter1, .Filter2 {
        .whiterule;
    }

    .checkbox-inline, .radio-inline {
            float:left;
            margin: 0;
            height: 23px !important;
        }
        .labelcopy {
            padding-left: 5px;
            float:left;
            color: @h1-blue;
            font-size: 12px;
        }



   

        .col1, .col2, .col3 {
            display: inline-block;
            height: 100%;
            margin-right: 16%;
        }

        .MetalicFilter {
            display:block;
            height: 30px;
            
        }

    

    .Filter3 {
        float: left;
        height: 100%;
        min-height: 112px;
        padding-top: 3%;
        background-color: lighten(#b6d9ef, 10%);

        .deduct-sort { 
            height: 50%;
            
            color: @h1-blue;
           .deduct-content {padding: 20px 9px 10px 20px; 
            color: @h1-blue;}
        }
        .print-plans {
            height: 50%;
            .print-content {padding: 20px 0 10px 20px; 
                color: @h1-blue;}
        }
    }
} // Close of Filter Bar Stylings


.DottedBottom {
        border-bottom: 2px dotted @box-gray;
    }

.SolidBottom {
         border-bottom: 1px solid @box-gray; 
    }
.alternaterow {
    background-color: @light-gray;
}


#KeyBar {
    position: absolute;
    
    width: 200px;
    .planKey {
        float:left;
        width: 200px;
        
    }
    .inNetwork {
        padding: 42px 20px 37px 0px; 
        .SolidBottom;

        .inNetworkCopy {
            color: @box-gray;
            float:left;
            font-size: 13px;
            
        }
        .inNetworkSearch {
            font-size: 13px;
            .pull-right;
            .orange;
        }
    }
    .plan-head {
        display: inline-block;
        margin-bottom: -4px;
        width: 100%;

        .SolidBottom;

        .script-deduct-title {
           padding: 5px 20px 5px 0px;
           width: 68%;
           float:left;
        }
        .script-coverage-title {
            padding: 50% 0 0 0;
         width: 68%;
           float:left; 
        }
     }
     .typerow {
        display:block;
        float:right;
        width: 32%;
        .fam {
            padding: 20px 10px 19.5px 14px;
            .DottedBottom;
            border-left: 2px dotted @box-gray;

            
        }

            .ind {
                padding: 20px 10px 20px 10px;
                .alternaterow;
                border-left: 2px dotted @box-gray;
                border-right: 2px solid @box-gray;

                .ind-icon {

                    width: 45px;
                    height: 31px;
                    background: url('../images/ind-icon.png') no-repeat;
                     background-size: 110%;
                    
                }
            }
         }
    

    }
    #Plans {
        display:block;
        height: 450px;
        //overflow: scroll;
       // overflow-y: scroll;
        margin: 0 auto;
       
    }

    #plansWidth {
        width: 10px;
    }
    .planOption, .prescPlanoption {
        float:left;
        width: 200px;
        
        display: inline-block;

        &:first-child{
            margin-left:200px;
            //border-left: 1px solid @box-gray;
        }
    }


    .prescPlanoption:first-child{
        margin-left: 159px !important;

    }

    
    .Amount {
        color: @Mid-Blu;
         font-size: 22px;
         font-weight: 300;
    }



    .planName, .Deduct-Fam, .Deduct-Ind{
       padding: 20px;
       border-bottom: 1px solid @box-gray;
       border-left: 1px solid @box-gray !important;
       border-right: 1px solid @box-gray;


    }

    #KeyBar > div > div:nth-child(3) > div.typerow > div:nth-child(4), #PrescriptionPlans > li:nth-child(1) > div:nth-child(6),#PrescriptionPlans > li:nth-child(2) > div:nth-child(6),#PrescriptionPlans > li:nth-child(3) > div:nth-child(6){
        border-bottom: 1px solid @box-gray !important;
        
    }


    #PrescriptionPlans > li:nth-child(3) > div.planName{
        border-right: 1px solid @box-gray !important;
        border-width: 1px !important;
    }

    .PlanName-Title {
        color: @h1-blue;
        font-size: 16px;
        font-weight: 700;
    }
    .PlanName-Sub {
        .small;
        color: @box-gray;
    }



    .Deduct-Fam, {
        .Amount;
         .DottedBottom;  
    }
    .Deduct-Ind {
        .Amount;
        .SolidBottom;
        border-bottom: 1px solid @box-gray !important;
        .alternaterow;
    }

    .OOPocket-Fam {
        padding: 20px;
        .Amount;
        .DottedBottom; 
    }

    .OOPocket-Ind {
        padding: 20px;
        .Amount;
        .DottedBottom;
        .alternaterow 
    }

    .viewDetails {
        padding: 20px;
        a {
            font-size: 17px;
            font-weight: 700;
            color: @orange !important;
        }
    }
} // Close of TableCarousel

.MobilePlanItem{
    .SolidTop;
    .SolidBottom;
}

.MobilePlanLink {
    padding-left:2%;
     text-decoration: none !important;
}


.MobilePlanCopy {
    .Blu-text;
    margin-left:20px;
    &:hover {
        .orange;
     }

}

// override

#KeyBar > div.planKey > div:nth-child(2) > div.typerow > div.fam{
    padding-bottom: 18px
}
// layout hack 
