//Plan Details CSS 

.ProductDetailsFilterBar_homePage{
  width:100% !important;
}

#ProductDetailsFilterBar {  
  background-color: lighten(#b6d9ef, 10%);
  min-height: 50px;
  display:block;
  
  width:80%;
  margin: 0 auto;
  
   .Ind-and-Fam, .Ind-Only { 
          height: 30px;

        }  

    .labelcopy {
            padding-left: 5px;
           // float:left;
            color: @h1-blue;
            font-size: 12px;
            display: inline;
        }
    .deduct-sort {
      padding-top: 8%;
    }

  .FilterTitle {
    background-color: lighten(#b6d9ef, 10%);
    padding: 2% 0 0 3%;
    
    .FilterTitle-text {
       color: @h1-blue;
      font-weight: 700;
    }
  }
  .resetOpt {
      font-weight: 300;
  }
}
#ProductDetailsTable {
    padding:20px;
    width: 80%;
    .ind-icon { margin-left: -7px;}
}

.col-custom-4-5 {
    width: 29.3%;
    float:left;
}
.col-custom-7-8 {
    width: 62.333333%;
    float:left;
    height:70px;
}



.Title {
        // padding-top: 50%;
         color: @h1-blue;
        font-size: 16px;
        font-weight: 700;
   }
.Title2 {
        padding: 5%;
         color: @h1-blue;
        font-size: 16px;
        font-weight: 700;
   }
.modal-title {
        color: @h1-blue;
        font-size: 16px;
        font-weight: 700;
   }
.Sub {
  .small;
    color: @text-gray;
    float:left;
}

.NumSub {
  .Sub;
  margin:12px 0 0 2px;
}

.type-cell {
    padding: 20px 0 0 20px;
}
.icon-cell {
    padding-top: 20px;
}
.value-cell {
    padding-top:15px;
}

.minheight {
    height:61px;
}

.whygroup {
    padding-top:150%;
    cursor: pointer;
}
.whygroup2 {
    padding-top:10%;
    cursor: pointer;
}

.number {
    color: @Mid-Blu;
    font-size: 22px;
    font-weight: 300;  
    float:left;
    }

.cell-copy {
     color: @Mid-Blu;
      font-size: 14px;
    font-weight: 300;  
    float:left;
    
}
.lower {
    margin: 10px 0 0 5px;
    float:left;
}

.close {
  opacity: 1.0 !important;
  .orange;
}

.PlanNameCell {
  .Blu-text;
  padding-left: 10px; 
}

.ind-cell-content {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#ProductDetailsTable {
  width: 80%;
  margin: 0 auto;
}


@media only screen and (max-width: 480px) {
    #ProductDetailsTable {
        width: 100% !important;
    }
    
    .NumSub, .why-cell {
        .hidden-xs;
    }
    .type-cell {
    padding: 2% 0 0 2% !important;
    display: inline;
    }
    .PlanNameCell {
      padding-left: 2% !important;
    }

    .value-cell {
      padding-left: 5px !important;
    }
    

    .AnnLimtRow, .UseNetworkRow, .NeedReferralRow, .NoServiceRow  {
      .DottedLeft;
      .DottedRight;
    }
    .ScriptTitleCell, .OOPTitleCell , .DedTitleCell{
      height: 70px;
      .DottedRight;
      .SolidLeft;
      .SolidBottom;
    }
    .Title { 
      padding: 7% 0 0 2% !important;
      margin-left:-15px !important; 
      padding-right: 10px; 
      width: auto; 
      float:left;
    }
    .Sub {float:left; margin: 8% 0 0 2%;
      word-break: normal;
    }
    
}