// firefox hack for bootstrap responsive tables// 
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}


//global styles 
body {
    position: relative;
    background:url("../images/section-3-bg.png") repeat;
    font-weight: 100;
}

a {
    color: white;
    font-weight: 200;
}
label {
    margin-right: 9px !important;
}
.addBgBlue {
    background: @alpha-lightBlue;
    padding: 3px;
}
.bold {
    font-weight: bolder;
}
input[type=checkbox]:checked {
    color: @Blu-main !important;
}


td, th{
    padding: 28px 20px 28px 20px !important;
    width: auto;
    vertical-align: middle;
}

.orange-btn {
    margin: 0 auto;
    display: block;
    background: @darkOrange;
    color: @white;
    &:hover {
        color: @white !important;
    }
    
}


//video player

video{
    width: 100%;
}


.video-thumbnail {
    display: block;
    margin: 0
}
// Background Colors
.darkergraybg {
    background-color: @gray-darker;
}
.lightgraybg {
    background-color: @gray-lighter;
}

/* ================================================================================= */

.centerText{
    text-align: center;
}

.placeholderbox {
    width: 524px;
    height: auto;
}
.bold {
    font-weight: 800 !important;
}
.largerText {
    font-size: 1.2em;
    font-weight: thin;
}
//helper adjustment class
.pushDown {
    padding-top: 130px
}
//Groups 
.opening {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 45px;
}
// circles 
.nextsteps {
    width: 85%;
    margin: 0 auto;
}

.icons-copy{
    font-size: 1.2em;
    font-weight: 100;
    
}

.circle {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 50px;
    &:first-child {
        padding: 0px !important;
    }
    &:nth-child {
        padding: 0 7px 0 7px;
    }
}
.circleimg-top {
    //display: block;
    // width: 214px;
    margin: 0 auto;
   // padding:5px 0;
}
.circleimg-bottom {
    //display: block;
    width: 45px;
    margin: 0 auto;
   // padding:5px 0;
}
.circle-copy {
    color: @white;
    text-align: center;
    font-weight: 300;
    font-size: 1.2em;
}
.circlesContPadding {
    padding: 15px 0 15px 0;
}


.white-bg{
    background: #fff;
    background-color: #fff;
    width: 23px;
    height: 23px;
    position: relative;
    top: 26px;
    border-radius: 50px;
    z-index: 2;
}

.fa.fa-plus-square{
    position: relative;
    z-index: 7;
}

.navbar-inverse .navbar-toggle{
    border: none !important; // override bootstrap
}

//uper nav
.fa-chevron-left:before {
    color: @orange !important; //overrideing font-awesome defaults
}
//top nav

.mainnav {
    height: 57px !important;
    background-color: @white !important;
}

.navbar-inverse.navbar-fixed-top{
-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.35);
}


.navbar-nav > li > a {
    padding-top: 25px !important; // overrite bootstrap
}

.navbar-inverse .navbar-nav > li{
    padding: 0 15px 0;
}

.navbar-inverse .navbar-nav > li > a{
    color: @orange !important;

    &:hover{
        color:@Blu-main !important; 
    }
    &:visited{
        color: @orange !important;
    } 
}

// .navbar-inverse .navbar-nav > li > a:visited{
//         color:@Blu-main !important;
//     }


.search {
    padding: 28px 0 0 30px;
    font-size: 1.3em;
}
.headlogo {
    width: 185px;
    margin-top:-15px;
}
.upperNavbar {
    height: 31.5px;
    
    
    color: @text-gray !important;
    .small;
    font-weight: normal;
    
    .phone-number {
        color: @Blu-main !important;
        font-weight: bold;
    }
    .upperNavbar-Box { 
        padding: 10px;
        //width: 35%;
        background-color: @mid-gray !important; 
        border-radius: 0px 0px 15px 15px;
        -webkit-border-radius: 0px 0px 15px 15px;
        -moz-border-radius: 0px 0px 15px 15px;
    }
    .questionsTxt {
        color: @black;
        float:  left;
        display:inline;
    }

    .language {
        color: @text-gray !important;
    }

    .languageLink {
         color: #01bcd4 !important;
    }
   
}
/* scroll spy bottom border*/

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #fff !important;
    border-style: solid;
    border-width: 0px 0px 7px;
    -moz-border-image: url('../images/nav-icon.png') 0 0 27;
    -webkit-border-image: url('../images/nav-icon.png') 0 0 27;
    -o-border-image: url('../images/nav-icon.png') 0 0 27;
    border-image: url('../images/nav-icon.png') 0 0 27;

    .navbar.navbar-inverse.navbar-fixed-top > div.container.mainnav > div > ul > li > a:hover{
      color:blue !important;  
    }
    
    // border-bottom-style: solid;
    // border-bottom-width: 3px;
    // border-color: @orange;
}
/* */

.navbar.navbar-inverse.navbar-fixed-top > div.container.mainnav > div > ul {
    background-color: #fff;
}//adds backgorund color to drop nav im mobile view 

@media(max-width:768px) {
    .navbar.navbar-inverse.navbar-fixed-top > div.container.mainnav > div {
        width: 100%;
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    body > div.navbar.navbar-inverse.navbar-fixed-top > div.container.mainnav > div > ul {
        margin: 0px !important;
    }
}
//  =============================== accordion =============================================== 
//plus button
.fa-2x {
    padding: 0 10px 0 0;
}
.panel-heading {
    margin: 20px 0;
    padding: 25px 10px !important;
}
.panel {
    border: 1px solid @box-gray;
    box-shadow: none !important;
}

.panelTitle {
    .Blu-text;
    .upperCase;
    font-size: 1em !important;
}

.panel-default > .panel-heading {
    background: transparent !important;
    font-size: 1em!important;
}

.panel-default, .panel-group{
    background: transparent !important;
}

#accordion > div > div.panel-heading > h4{
        font-size: 1em!important;
}
.panel-group .panel {
    border-left: none;
    border-right: none;
    border-radius: 0 !important; //override BS 
}
.panel-group .panel + .panel {
    margin: 0px !important; //override BS 
}
.moreDetails {
    margin-right: 15px;
    margin-top: -7px;
    text-transform: capitalize;
}
.content {
    margin: 0 auto;
    width: 80%;
    max-width: 1190px;
}
.box {
    width: 100%;
    height: 50px;
}
// Regulators !!!! mount up....
.nogutter {
    padding: 0px !important;
}
.wrapper {
    width: 68%;
    margin: auto;
}


@media only screen and (max-width: 480px) {
    .moreDetails {
        margin-right:-65px;
        margin-top: -15px;
    }
    .panelTitle {
        margin-right: 65px;
    }



    }

/* value proposition componant */

#valuePropFeature{
    border-top-style: dotted;
    border-top-width: 2px;
    border-top-color: @Mid-Blu;
    padding:22px 0 22px 0;


}

.valuevideothumb {
    width: 100px;
    margin-left: 20px;
}



/* =============================== section 1 ================================================*/

#section1 {
    #valuePropFeature > div.col-lg-9.col-md-9.col-sm-9.col-xs-12 > h4{
        margin-bottom: 5px
    }



    padding-top: 130px;
    padding-bottom: 40px;
    background: url("../images/section1-bg.png") repeat;
    .icons {
        padding-top: 75px;
        // margin-bottom: 45px;

    }
    #sec1-video {
        display: block;
        margin: 0 auto;
    }
    #section1 > div > div.icons > div:nth-child(1) > div > div:nth-child(1) > div > img {
        height: 115px;
    } //fixes misalignment if icons
   
    .value-prop-copy {
        font-size: 13px;
        line-height: 19px;
    }
    .video-btn-copy {
        line-height: 13px !important;
        vertical-align: middle;
    }
    .scrolldown {
        width: 120px;
        font-weight: bolder !important;
        color: @nav-darkBlue !important;
        font-size: 18px;
        float: right;
        //     p, .fa-arrow-down: before {
        //     font-size: 11px;
        //     color: rgba(68, 68, 68, .5) !important;
        //     font-weight: bold;
        //     letter-spacing: -1px; //for a bold condensed look.
        //     word-spacing: -1px; //
        //     text-align: center;
        // }
        p{
             
        }
    }

    .scrolldown.hidden-md.hidden-sm.hidden-xs > p{
     
    }

    ul li{
        padding-left: 0px !important;
        list-style: disc !important; 
    }

    
}
/* ======================== choose-partner ==================================== */

.choose-partner {
    background:url(../images/section1-bg.png) repeat;
    padding: 0 0 150px 0;

    .subCont{
        margin-top: 55px;
        p, li {
            font-size: 18px;
        }

        li {
            margin-left: 25px;
        }

    }

    h1{
        margin-top:0px !important;
        padding-top: 50px; 
    }


    h2 {
        margin: 30px 0 30px 0;
    }
    ul {
        margin: 20px 0 20px 0;
    }
    li {
        padding: 7px 0 7px 0;
    }
}


.sideBox{
    border-style: dotted;
    border-width: 2px;
    border-color:white;
    color:white;
    padding:10px;
    font-size: 1.1em;
    font-weight: 100;
    


    p{
        text-align: center !important;    
    }

    span.gc-cs-link{
        color:@white !important;
    }
}

/* =============================== section 2 ================================================*/

//auto complete module
.section2 {
    background: url("../images/section-2-bg.png") repeat;
    h1 {
        color: @h1-blue;
        margin-bottom: 15 px;
        text-align: left;
        
    }
  
    #dropDownToggle {
        color: @orange;
    }
    .caret {
        transform: scale(2, 2);
        position: relative;
        top: 9px;
        bottom: 0;
        left: 0;
        right: 0;
    }
    p {
        margin-bottom: 50px;
    }
    .dropdown-toggle {
        height: 54px;
        width: 50px
    }
}
::-webkit-input-placeholder {
    font-size: 1em;
    color: #9e9e9e!important;
    
    font-weight: 100;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    font-size: 1em;
    color: #9e9e9e!important;
    
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    font-size: 1.6em;
    color: #9e9e9e!important;
    
}
:-ms-input-placeholder, {
    font-size: 1.6em;
    color: #9e9e9e!important;
    
}
input {
    font-family: inherit;
    font-size: 1.6em !important;
    height: 54px !important;
}
form {
    margin: 20px 0 0px 0;
}
.form-group {
    margin-bottom: 5px;
}
/* =============================== section 3 ================================================*/

#section3 {

    background:url("../images/section-3-bg.png") repeat;
    padding-top: 60px;
    padding-bottom: 40px;

    a{
        color:@orange;
    }

    img {
        margin: 0 auto;
    }

    .panel-heading{
        padding:35px 0 !important;
        font-size:1.2em;
    }

    .smallHeader{
        font-size: 70% !important;
    }

    #arz-plan-details{
        padding-bottom: 50px;
    }

  

    #arrow-left{
       position: relative;
        top: 762px;
        left: 24px;
        z-index: 50;
        width: 100px;
    }


    #arrow-right{
        position: relative;
        top: 762px;
        z-index: 50;
        width: 100px;
        right: 85px;
    }

    .seemoretext{
        width: 50px;
        color: gray;
        position: relative;
        top: 67px;
    }

    //left
    .seemoretext-left{
        left: 56px;
    }

    .seemoretext-right{
        right: 56px;
    }



    h1{
        font-size:56px !important;

    }

    h2{
        font-size:36px !important;
    }

    h3{
        font-size:22px!important;
    }

}

#accordion > div:nth-child(1){
    border-top: none;
}


/* =============================== section 4 ================================================*/

#section4 {
    background: url("../images/section-1-bg.png") repeat;
    padding-top: 130px;

    h1,h2{
        font-weight: 100 !important;
    }



  
    padding-bottom:70px;
}


/* =============================== section 5 ================================================*/

#section5 {
    background:url("../images/section-3-bg.png") repeat;
    padding-top: 130px;
    padding-bottom: 70px;

   
    .wrapper > button {
        display: block !important;
        margin: 0 auto !important;
    }

    a{
         color:@orange;
    }

    #presc-arrow-left{
       position: relative;
        top: 520px;
        left: 48px;
        z-index: 50;
        width: 100px;
    }



    #presc-arrow-right{
        position: relative;
        top: 520px;
        z-index: 50;
        width: 100px;
        right: 75px;
    }

    .seemoretext{
        width: 50px;
        color: gray;
        position: relative;
        top: 67px;
    }

    //left
    .seemoretext-left{
        left: 56px;
    }

    .seemoretext-right{
        right: 56px;
    }
}
/* =============================== section 6 ================================================*/

#section6 {
    background: url("../images/section-6-bg.png") repeat;
    background-color: @h1-blue;
    padding-top: 130px;
    padding-bottom: 70px;
    .buttongroup {
        padding: 20px 0;


        .sec6numbers{
            padding: 25px;
            margin: 0 auto;
        }

        h4{
            font-size: 16px;
        }
        
        
    }
    .dashedbox {
        color: @white;
        border: 1px dashed @white;
        padding: 8px 15px;
        -webkit-border-radius:6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }
}
/* ================================== Footer =================================================*/

footer {
    background-color: @Blu-darker;
    height: 106px;
    .footer-logo {
        width: 150px;
        margin-top: 40px;
    }
    .linkrow {
        margin-top: 45px;
        // width: 650px;
        // float: right;
        a {
            color: @white;
            float: left;
        }
        p {
            float: left;
            color: @Blu-powder;
            padding: 0 10px 0 10px;
        }
        .disclaimer {
            color: @Blu-powder;
            font-size: 11px;
        }
        .dropsprite {
            background: url('../images/Fat-Footer_Drop_Sprite.png') no-repeat;
            width: 26px;
            height: 26px;
            .pull-right;
            &:hover {
                cursor: pointer;
            }
        }
        .dropsprite-up {
            background-position: 0px -27px;
        }
        .dropsprite-down {
            background-position: 0px 0px;
        }
    }
}
// ============================ Components =================================== 
// autocomplete comp  -> section 2
.autocomplete {
    h1 {
        color: @h1-blue;
        font-weight: 200;
        margin-top: 80px;
    }
    // ============================ Components =================================== 
    // autocomplete comp  -> section 2
    .autocomplete {
        background-color: @light-blue;
    }
    .autocomplete {
        h1 {
            color: @h1-blue;
            font-weight: 200;
            margin-top: 80px;
        }
        .center-block {
            width: 80%;
            height: 85px;
            margin-bottom: 45px !important;
        }
    }
    .center-block {
        width: 80%;
        height: 85px;
        margin-bottom: 45px !important;
    }
}

#section2{

    h1{
        margin-top: 62px;
    }

 .btn-warning {
  background: #ff6915;
  color: #fff;
  padding: 12px 35px;
  }
  .dropdown-menu {
    width: 100%;
  }
  .dropButton {
    background-color: @white;
    height: 53px;
    border: 1px solid #cccccc;
    display: block; 
    -webkit-border-radius:4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
     .droptext { 
        color: @text-gray;
        font-size: 250%;
        float: left;
        padding-left: 10px;
     }
  }


    //ac-btn = text input dropdown caret 
    button.ac-btn{
        backgrounf-color:#fff; 
        vertical-align: middle;
        padding: 5px 12px !important;
    }


    span > div > i{
        position:relative;
        top: -9px;
    }
}




//autocomplet dropdown data styling 
#ui-id-1 {
    background: #FFf;
    color: @blue-darkest;
    text-decoration: none;
    list-style: none !important;
    width: 30%;
    padding: 10 0 10px 0 !important;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #eee;
    ul > li {
        list-style: none !important;
    }
}
.ui-menu-item {
    padding: 10 0 10px 0 !important;
}
.content {
    margin: 0 auto;
    width: 75%;
    padding-bottom: 50px;   
}
//end of components
.box {
    width: 100%;
    height: 50px;
}


//buttons
button {
    text-transform: uppercase !important;
    background-color: @orange !important;
}
.btntxt {
    color: @white;
    text-align: center;
}
#flyout {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    width: 350px;
    height: 212px;
    background-color: @nav-blue;
    z-index: 100;
    position: fixed;
    top: 209px;
    -webkit-border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
    border-radius: 20px 0px 0px 20px;
    &:hover {
        cursor: pointer;
    }
    .flyout-links {
        padding-top: 10px;
        background-color: @lt-gray;
        padding-left: 16px;
        width: 267px;
        height: 100%;
        float: left;
        ul {
            list-style-type: none;
            line-height: 18px !important;
        }
        li a {
            .orange;
            font-size: 12px;
            line-height: 10px;
        }
    }
}
.helpfulresources {
    border-radius: 20px 0px 0px 0px;
    -webkit-border-radius: 20px 0px 0px 0px;
    -moz-border-radius: 20px 0px 0px 0px;
    padding-top: 18px;
    padding-left: 6px;
    height: 100%;
    &:hover {
        transition: background-color 0.5s ease;
        background-color: @lt-gray;
        p {
            color: @drk-gray !important;
        }
    }
}
.glossary {
    border-top: @black solid 1px;
    padding-top: 10px;
    &:hover {
        transition: background-color 0.5s ease;
        background-color: @lt-gray;
        padding-bottom: 1px;
        p {
            color: @drk-gray !important;
        }
    }
}
.what-is-insurance {
    border-top: @black solid 1px;
    padding-top: 10px;
    &:hover {
        transition: background-color 0.5s ease;
        border-radius: 0px 0px 0px 20px;
        -webkit-border-radius: 0px 0px 0px 20px;
        -moz-border-radius: 0px 0px 0px 20px;
        background-color: @lt-gray;
        padding-bottom: 13px;
        p {
            color: @drk-gray !important;
        }
    }
}
.flyout-labels {
    float: left;
    width: 80px;
    img {
        width: 20px;
        display: block;
        margin: 0 auto;
    }
    p {
        .white;
        font-size: 10px;
        text-align: center;
    }
    hr {
        border-top: 1px solid @nav-darkBlue !important;
        margin-top: 0 !important;
        margin-bottom: 10px !important;
    }
}




// =============================== VIDEO 
 
    

.player  {

padding-top:20px;
 width: 80%;
 margin: 0 auto;
height: auto;

}

//--------------------------------- MOBILE STYLES 

//---------------- Phone 


@media only screen and (max-width: 768px) {

    .wrapper, .content {
        width: 93.5%;
    }

    .opening {
        width: 100%;
    }
}


// 
#KeyBar > div > div:nth-child(3){
    border:none;
}

#collapseOne > div > section > div > div:nth-child(1) > img{
    height: 277px;
}

// ======================= print css ============================== // 

@media only print{


    #section1 > div:nth-child(1) > div > div > div > div > div > a > img, #sec1btn-vid > img, #sec3-vid-btn > img, #sec5-vid-btn > img, #sec6-vid-btn > img, #sec4-vid-btn > img, #section4 > div:nth-child(2) > div.row > div > img, #section3 > div:nth-child(6), #PlansListMobile, #Dropdown, #know-what-plan{
        display: none !important;
    }

    #collapseOne, #collapseTwo, #collapseThree, #collapseFour, #arz-plan-details, #sec5HiddenContent, #FatFooter{
        display: block !important;
    }

    #section1 > div:nth-child(1) > div > div > div > div:nth-child(1) > div > p, #section1 > div:nth-child(1) > div > div > div > div:nth-child(2) > div > p, #section1 > div:nth-child(1) > div > div > div > div:nth-child(3) > div > p, #section1 > div:nth-child(1) > div > div > div > div:nth-child(4) > div > p, #choose-a-partner > section > div > div > div.col-lg-3.col-md-3.col-sm-12.sideBox > p, #valuePropFeature > div.col-lg-1.col-md-1.col-sm-1.col-xs-12 > img, #section6 > div:nth-child(2) > div:nth-child(3) > div.col-lg-1.col-md-1.col-sm-1.col-xs-12 > img, #section6 > div:nth-child(2) > div:nth-child(2) > div.col-lg-1.col-md-1.col-sm-1.col-xs-12 > img, #section6 > div:nth-child(2) > div:nth-child(1) > div.col-lg-1.col-md-1.col-sm-1.col-xs-12 > img, #valuePropFeature > div.col-lg-1.col-md-1.col-sm-1.col-xs-12 > img, #valuePropFeature > div.col-lg-1.col-md-1.col-sm-1.col-xs-12 > img, #valuePropFeature > div.col-lg-1.col-md-1.col-sm-1.col-xs-12 > img, #sec5btn {
        text-align: left !important;
    }

    #our-network-hospitals, #section4 > div:nth-child(2) > div.div > h2, p, a, h1, h2, h3, #getting-started, #section6 > div:nth-child(1) > h2, #section4 > div:nth-child(4) {
        color: black !important;
    }
}













