//
// Variables
// --------------------------------------------------


//================ Colors 

// Basic Colors
@white:             #fff;
@black:				#000;
@redDot: 			rgb(229,28,36);
// UHC Colors
@Blu-main:          #01bcd4;
@Blu-dark:			#0097b0;
@Blu-darker:        #19237e;
@light-blue:		rgba(178, 235, 242, 1);
@h1-blue:			#003da1;
@Blu-powder:        #87b9d9;
@orange:			#ff6915;
@darkOrange:		#ff6915;
@green:             #40b533;
@lt-gray:           #e0e0e0;
@drk-gray:          #444444;
@nav-blue: 			#003da1; // top nav bg color
@nav-darkBlue:		#091561;
@mid-gray:          #f5f5f5;
@text-gray:         #8a8a8a;
@alpha-lightBlue:	rgb(182,217,239, .25);
@light-blu:         #40a2cf;
@blue-darkest:		#003487;
@lighGray:			#8a8a8a; 
@Blu-baby:          #b6d9ef;
@box-gray:          #bdbdbd;
@Mid-Blu:           #0277bb;
@light-gray:        #f5f5f5;
@soft-blu:          #b6d9ef;
@accent-blue:       #00a8f7;
@blue-light:        #b2ebf2;
//metallic colors 
@red:				rgba(50,71,51,1);
@bronze:			rgba(58,20,50,1);
@silver:			rgba(189,189,189,1);
@gold:				rgba(255,193,7,1);
@platnium:			rgba(165,135,119,1);


