// Mixins 




// =================== ValueAdd
.valueadd {
    padding-top:0px;
    display: inline-block;
}
.valueaddicon {
        height: 65px;
        margin-top: 20px;
        float:left;
    }

.videoTriggerImg {
    cursor: pointer;
}



.playicon {
    width:25px;
}
.valuecopy {
    padding: 0 10px 0 10px;
    width: 80%;
    float: left;

    .title {
        font-weight: 500
    }
}

.watchmore {
    float:left;
}



//========= seemore Mixin 

.seemore{
    font-size: .75em;
    display:inline-block;
    vertical-align: middle;
}




//Scrolldown Mixin Styles 

.scrolldown {
    font-size:8px;
    padding-top:20px;
    position:fixed;
    right: 60px;
    bottom:20px;
//    width: 80px;
    display: block;
    
    p {
 //   font-size: 1em;
//    color: #333 !important;
    margin-bottom:0px;
//    text-align:center;
    }
    .icon {
        text-align:center;
        display:block;
    }
}





// ======================= FAT FOOTER 
#FootDisclaimer {
    display:block;
    width: 100%;
    margin:32px 0 32px 0;
    background-color: @white;
    padding-top:10px;
}

#FatFooter { 
 
    //height: 106px;
    // display:block;
    width: 100%;
   
    .container-fluid {

         width: 90%;
         margin: 0 auto;
         padding-top:30px;
         
    }

    .iconrow {background-color: @Blu-darker; padding-bottom:30px; }

    .icon {
        width: 42px;
        float:left; 
        margin-right: 10px;
    }
    .title { 
        color: @Blu-powder
    }

    .disclaimer {
          color: @text-gray;
          font-size: 9.5px;
        }

    .plan-listing {
        background-color: @white;
        margin-top: 40px;

        .plantitle {
            color: @h1-blue;
            font-size: 23px;
        }

        

        .spacer {
            display:block;
            height: 20px;
        }


        .planlink  {
            color: @orange;
            font-size: 10px;
            display: block;
            line-height: 21px;
        }
    }

    .outreach {
        background-color: @mid-gray;
        width: 100%;
        padding-bottom: 30px;

        .container-fluid {

        }
        
        .outreach-text {
            font-size: 1.3em;
            font-weight: 300;
            color: @Blu-powder;
        }
    }
   
}

#BlueBottom {
    background-color: @blue-light;
    padding: 20px;

    .SubHeadText {
        text-transform: uppercase;
        .Blu-text;
        .bold;
    }
}


.panel-heading {
    border-bottom: 0px !important;
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: 0px !important;
}
 