// Typography

//=================================== Font Colors ===============================================
.white {
    color: @white !important;
}
.black {
    color: @black;
}
.Blu-text {
    color: @h1-blue;
}
.blu-main {
    color: @Blu-main !important;
}

.blue-mid{
    color:@Mid-Blu !important;
}
.blue-darkest {
    color: @blue-darkest!important;
}
.orange {
    color: @orange !important;
}

.lightGray{
    color: @lighGray !important;
}

.red{
    color:@red;
}

.red2{
    color:@redDot;
}

.green{
    color:@green;
}

.bronze{
    color:@bronze;
}

.silver{
    color:@silver;
}

.gold{
    color:@gold;
}

.platnium{
    color:@platnium;
}
.accentBlue {
    color: @accent-blue;
}



body{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 100;
}


h1,h2,h3,h4,h5{
    margin: 0px;
 
}



.upperCase {
    text-transform: uppercase;
}

//Text Colors
.drk-gray-txt {
    color:@drk-gray;
}

h1 {
    font-weight: 300 !important;
    margin: 0;
    padding: 0;
    font-size: 3.0em !important;
    font-family: 'Open Sans', sans-serif !important;
}

h2 {
    font-weight: 300 !important;
    font-size: 32px;
    line-height: 36px;
    font-family: 'Open Sans', sans-serif!important;
    font-weight: 200 !important;    
}

h3{
    font-size: 1.8em !important;
    font-family: 'Open Sans Light', sans-serif!important;
    line-height: 2em;
    font-weight: 300 !important;//overriding bootstrap defaults
    display:block; 
    padding: 0px !important;

}

h4 {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif!important;
    margin: 0 0 10px 0 !important;
	
    a{
    	font-weight: 500 !important;
        font-family: 'Open Sans', sans-serif!important;	
    }

}


h5{
    font-size: 1em !important;//overriding bootstrap defaults
        margin: 0px !important;
    padding: 0px !important;

}


h6{
    font-size: 24px !important;
    font-weight: 100 !important;
    font-family: 'Open Sans', sans-serif!important;
}

p   {
color:@black;
text-align: left;
font-family: 'Open Sans', sans-serif;   
    }


#section3{
    h2{
        font-size: 27px !important;
    }
}


.SectionIntroText {
    width: 80% !important;
}


#valuePropFeature > div.col-lg-9.col-md-9.col-sm-9.col-xs-12 > h4{
    margin-bottom: 10px;
}

