//- [dash:data]
    {
        "status": "development",
        "category": "page",
        "label": "Home",
        "link": "../../index.html"
    }
    [/dash]
//- Homepage Markup
extend ./layouts/base


include ./components/UHC-mixins.jade  


block content
    #space(style="height: 170px;")
    include ./components/ScriptCarousel.jade  
    
  
    
                






                    

                        


